## Official python documentation
https://docs.python.org/3/

# Week 1
### Print hello world!!

In [1]:
for i in range (10):
    print("Hello World!! {}".format(i))

Hello World!! 0
Hello World!! 1
Hello World!! 2
Hello World!! 3
Hello World!! 4
Hello World!! 5
Hello World!! 6
Hello World!! 7
Hello World!! 8
Hello World!! 9

### Getting information from the user

In [2]:
name = "Shay"
print("Hello " + name + " !!")

Hello Shay !!

#### python can  be your calculator

In [3]:
print(4+5)
print((((1+2)*3)/4)**5)

9
57.6650390625

### calculate goldern ratio

((sqrt(5)+1)/2)

In [4]:
ratio = ((1 + (5**(1/2)))/2) 
ratio2 = (((5**(1/2)) + 1)/2) 
print(ratio)
print(ratio2)

1.618033988749895
1.618033988749895

In [5]:
print([i for i in range(0,100) if i%11 == 0])

[0, 11, 22, 33, 44, 55, 66, 77, 88, 99]

In [6]:
hel = 'RAshmirathi'
print(hel[::-1])

ihtarimhsAR

In [7]:
print(2**5)

32

# Week 2

###  Data Types

types:
integer
String: anything wrapped in quotation marks is considered a string in Python <br>
Float : represent real nos.

computer doesnt know how to add integer and string, it'll give type error (given below)

In [8]:
print("7" + 8)

ERROR:root:Internal Python error in the inspect module.
Below is the traceback from this internal error.

Traceback (most recent call last):
  File "C:\Users\Nivas\AppData\Local\Programs\Python\Python310\lib\site-packages\IPython\core\interactiveshell.py", line 3444, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "C:\Users\Nivas\AppData\Local\Temp/ipykernel_9968/967136402.py", line 1, in <module>
    print("7" + 8)
TypeError: can only concatenate str (not "int") to str

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "C:\Users\Nivas\AppData\Local\Programs\Python\Python310\lib\site-packages\IPython\core\interactiveshell.py", line 2064, in showtraceback
    stb = value._render_traceback_()
AttributeError: 'TypeError' object has no attribute '_render_traceback_'

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "C:\Users\Nivas\AppData\Local\Programs\Python\Python310\lib\site-packages\IPython\core\ultratb.py", line 1101, in get_records
    return _fixed_getinnerframes(etb, number_of_lines_of_context, tb_offset)
  File "C:\Users\Nivas\AppData\Local\Programs\Python\Python310\lib\site-packages\IPython\core\ultratb.py", line 248, in wrapped
    return f(*args, **kwargs)
  File "C:\Users\Nivas\AppData\Local\Programs\Python\Python310\lib\site-packages\IPython\core\ultratb.py", line 281, in _fixed_getinnerframes
    records = fix_frame_records_filenames(inspect.getinnerframes(etb, context))
  File "C:\Users\Nivas\AppData\Local\Programs\Python\Python310\lib\inspect.py", line 1667, in getinnerframes
    frameinfo = (tb.tb_frame,) + getframeinfo(tb, context)
  File "C:\Users\Nivas\AppData\Local\Programs\Python\Python310\lib\inspect.py", line 1625, in getframeinfo
    filename = getsourcefile(frame) or getfile(frame)
  File "C:\Users\Nivas\AppData\Local\Programs\Python\Python310\lib\inspect.py", line 829, in getsourcefile
    module = getmodule(object, filename)
  File "C:\Users\Nivas\AppData\Local\Programs\Python\Python310\lib\inspect.py", line 878, in getmodule
    os.path.realpath(f)] = module.__name__
  File "C:\Users\Nivas\AppData\Local\Programs\Python\Python310\lib\ntpath.py", line 679, in realpath
    if _getfinalpathname(spath) == path:
KeyboardInterrupt

TypeError: object of type 'NoneType' has no len()

##### To know the  datatype of the variable

print (type("variable_name"))

In [5]:
print(type(12))

<class 'int'>

In [6]:
print(type(22.64))

<class 'float'>

In [7]:
print(type("Name"))

<class 'str'>

In [8]:
type('c')     #char is not a thing in python

str

### Variables

Naming restriction: <br>
    * don't use keywords or fn that python reserves for its own <br>
    * dont use spaces <br>
    * must start with a letter or an underscore <br>
    * must be made up of only letters, nos, and underscores

In [9]:
i_am_a_variable  #valid
i_am_a_variable2 #valid
1_am_a_variable  # InValid
apples_&_oranges # InValid because it uses the special character ampersand

SyntaxError: invalid decimal literal (<ipython-input-9-c2bdda9d73de>, line 3)

### Expressions, Numbers, and Type Conversions

#### implicit conversion
 where the interpreter helps us out and automatically converts one data type into another, without having to explicitly tell it to do so.

In [10]:
print(7 + 12.3)

19.3

In [11]:
print("a" + "b" + "c")

abc

In [12]:
print("This " + "is " + "pretty " + "neat!")

This is pretty neat!

#### Explicit conversion
where we manually convert from one data type to another by calling the relevant function for the data type we want to convert to

In [13]:
length = 15
breadth = 7
area = (length * breadth)/2
print("Area of the triangle " + str(area))

Area of the triangle 52.5

###  Functions:

#### Defining Functions:
```python:
def function_name (arguments):
    function body
```

In [14]:
def greeting(name):
    print("Welcome, " + name)

#### calling function

In [15]:
greeting("abc")

Welcome, abc

#### returning value when function is returning nothing

In [16]:
result = greeting("xyz")
print(result)    # None : special datatype to indicate that things are empty or they returns nothing

Welcome, xyz
None

#### Another Example

In [17]:
def print_seconds(hours, minutes, seconds):
    print((hours * 60 * 60) + (minutes * 60) + seconds )

print_seconds(1,2,3)

3723

#### Return Values
Return statements in Python are even more interesting because we can use them to return more than one value.

In [18]:
def area_triangle (length, breadth):
    return length * breadth /2

area_triangle1 = area_triangle(7,3)
area_triangle2 = area_triangle(10,5)

sum = area_triangle1 + area_triangle2

print("Sum of both traingle : " + str(sum))

Sum of both traingle : 35.5

example: return more than one value:

In [10]:
def convert_seconds(seconds):
    hours = seconds // 3600
    minutes = (seconds - hours * 3600) // 60
    remaining_seconds = seconds - hours * 3600 - minutes * 60
    return hours, minutes, remaining_seconds

The world is so fucked that your tiny bit of goodness, kindness, and humbleness can't do anything to change that.

In [12]:
hours, minutes, seconds = convert_seconds(8400)
print(hours, minutes, seconds)
type(convert_seconds(86400))
# or simply write the next line for the same result
# convert_seconds(86400)

2 20 0

tuple

#### The Principles of Code Reuse

Code Duplication:

In [21]:
name = "ABC"
number = len(name) * 9
print("Hello " + name + ". Your lucky numer is " + str(number))

name = "pqrstuv"
number = len(name) * 9
print("Hello " + name + ". Your lucky numer is " + str(number))

Hello ABC. Your lucky numer is 27
Hello pqrstuv. Your lucky numer is 63

to reuse the code we use function it is more reusable and looks cleaner and we do not have to write duplicate code

In [22]:
def lucky_number (name):
    number = len(name) * 9
    print("Hello " + name + ". Your lucky numer is " + str(number))
    
lucky_number("ABC")
lucky_number("pqrstuv")

Hello ABC. Your lucky numer is 27
Hello pqrstuv. Your lucky numer is 63

instead of printing the message, it returns the message.

In [23]:
def lucky_number(name):
  number = len(name) * 9
  result = "Hello " + name + ". Your lucky number is " + str(number)
  return result
	    
print(lucky_number("Kay"))
print(lucky_number("Cameron"))

Hello Kay. Your lucky number is 27
Hello Cameron. Your lucky number is 63

#### Another example

In [24]:
def month_days (month, days):
    print(month + " has " + str(days) + " days.")
month_days("June", 30)
month_days("July", 31)

June has 30 days.
July has 31 days.

#### Code Style
1. self-documenting code : <br>
   In programming lingo, when we re-write code to be more self-documenting, we call this process refactoring <br>
   
Ex: 
Bad Code

In [25]:
#Bad Code

def calculate(d):
    q = 3.14
    z = q * (d**2)
    print(z)
    
calculate(5)

78.5

Good Code or Re-Factored Code:

In [26]:
#Good Code

def circle_area (radius):
    pi = 3.14
    area = pi * (radius **2)
    print(area)

circle_area(5)

78.5

2. Add more comment to explain the functionality or msg for your future self

### Conditinals

#### Comparing Things

Every time you compare things in Python the result is a Boolean of the appropriate value

In [27]:
print(10 > 1)

True

In [28]:
print("cat" == "dog")

False

In [29]:
print(1 !=  2)

True

Python doesn't know how to check if a number is smaller than a string

In [30]:
print( 1 < "1")

TypeError: '<' not supported between instances of 'int' and 'str'

 For the computer it's obvious that they are completely different entities. so it'll give false

In [31]:
print( 1 == "1")

False

Python uppercase letters are alphabetically sorted before lowercase letters.

In [32]:
print("cat" > "Cat")

True

#### Logical operators
and: To evaluate as true the and operator would need both expressions to be true at the same time here. <br>
or : expression will be true if either of the expressions are true, and false only when both expressions are false<br>
not : inverts the value of the expression that's in front of it.

In [33]:
print ("Ram" > "Raj" and "Hari" > "Shyam")

# first part is true and second part is false

False

In [34]:
print ("Ram" > "Raj" or "Hari" > "Shyam")

# first part is true and second part is false but we need only one part to be true so it will give true value

True

In [35]:
print( not 22 == "Answer")

# invert the value of expression

True

#### Branching with if Statements
The ability of a program to alter its execution sequence is called branching

The body of the if block will only execute when the condition evaluates to true; otherwise, it skipped.
##### If Statement
if statement allows us to branch the execution based on a specific condition being true.

In [36]:
def hint_username(username):
    if len(username) < 3:
        print("Invalid Username. must be at least 3 character long")

hint_username("ab")

Invalid Username. must be at least 3 character long

##### Else Statement
The else statement lets us set a piece of code to run only when the condition of the if statement was false.

In [37]:
def is_even(number):
    if number % 2 == 0:
        return True
    else:
        return False

print(is_even(4))

is_even(5)

True

False

Else Statement is usefuel but we don't always use it

In [38]:
def is_even(number):
    if number % 2 == 0:
        return True
    return False

is_even(45)

False

In [39]:
def is_prime(number):
    sq_rt = int(number**(1/2))
    if number>1:
        for i in range(2,sq_rt):
            if number%i == 0:
                return False
        return True
    return "Invalid"
    
is_prime(991)

True

##### elif Statements
* short for else if statement <br>
* used if there are more conditions to take into account
* The main difference between elif and if statements is we can only write an elif block as a companion to an if block. It'll be only checked if if block was not true

In [40]:
def hint_username(username):
    if(len(username) < 3):
        print("Invalid Username. must be at least 3 character long")
        
    elif(len(username) > 15):
        print("Invalid username. Must be at most 15 characters long")
        
    else:
        print("Valid Username")
        
hint_username("shyam")

Valid Username

Another Example:

In [41]:
def number_group(number):
  if number > 0:
    return "Positive"
  elif number < 0:
    return "Negative"
  else:
    return "Zero"

print(number_group(10)) #Should be Positive
print(number_group(0)) #Should be Zero
print(number_group(-5)) #Should be Negative

Positive
Zero
Negative

Practive Quiz: Conditionals

In [42]:
print(2**2 == 4)

True

In [43]:
2**5 == 32.000000000000001     #why??

True

In [44]:
 # The function receives a name, then returns a greeting based on whether or not that name is "Taylor".
    
def greeting(name):
  if name == "Taylor":
    return "Welcome back Taylor!"
  else:
    return "Hello there, " + name

print(greeting("Taylor"))
print(greeting("John"))

Welcome back Taylor!
Hello there, John

In [45]:
def check (number):
    if number > 11: 
      print(0)
    elif number != 10:
      print(1)
    elif number >= 20 or number < 12:
      print(2)
    else:
      print(3)
    
check(10)

2

Question: <br> 
If a filesystem has a block size of 4096 bytes, this means that a file comprised of only one byte will still use 4096 bytes of storage. A file made up of 4097 bytes will use 4096*2=8192 bytes of storage. Knowing this, can you fill in the gaps in the calculate_storage function below, which calculates the total number of bytes needed to store a file of a given size?

In [46]:
def calculate_storage(filesize):
    blocksize = 4096
    full_blocks = filesize // blocksize
    rem_block = filesize % blocksize
    if rem_block != 0:
        full_blocks += 1
   
    return full_blocks * blocksize

print(calculate_storage(1))    # Should be 4096
print(calculate_storage(4096)) # Should be 4096
print(calculate_storage(4097)) # Should be 8192
print(calculate_storage(6000)) # Should be 8192

4096
4096
8192
8192

In [47]:
def calculate_storage(filesize):
    block_size = 4096
    # Use floor division to calculate how many blocks are fully occupied
    full_blocks = filesize // block_size
    # Use the modulo operator to check whether there's any remainder
    partial_block_remainder =filesize % block_size
    # Depending on whether there's a remainder or not, return
    # the total number of bytes required to allocate enough blocks
    # to store your data.
    if partial_block_remainder > 0:
        return (full_blocks + 1)  * block_size 
    return block_size * full_blocks

print(calculate_storage(1))    # Should be 4096
print(calculate_storage(4096)) # Should be 4096
print(calculate_storage(4097)) # Should be 8192
print(calculate_storage(6000)) # Should be 8192

4096
4096
8192
8192

##### because python's not a compiled language, there could be errors in the code that only gets detected very late in the development process
Python is great for writing small scripts that are self-contained and not for big software projects that have a lot of infrastructure on them.

### Module 2 Graded Assessment

The color_translator function receives the name of a color, then prints its hexadecimal value. Currently, it only supports the three additive primary colors (red, green, blue), so it returns "unknown" for all other colors.

In [48]:
def color_translator(color):
	if color == "red":
		hex_color = "#ff0000"
	elif color == "green":
		hex_color = "#00ff00"
	elif color == "blue":
		hex_color = "#0000ff"
	else:
		hex_color = "unknown"
	return hex_color

print(color_translator("blue")) # Should be #0000ff
print(color_translator("yellow")) # Should be unknown
print(color_translator("red")) # Should be #ff0000
print(color_translator("black")) # Should be unknown
print(color_translator("green")) # Should be #00ff00
print(color_translator("")) # Should be unknown

#0000ff
unknown
#ff0000
unknown
#00ff00
unknown

In [49]:
"big" > "small"

False

Students in a class receive their grades as Pass/Fail. Scores of 60 or more (out of 100) mean that the grade is "Pass". For lower scores, the grade is "Fail". In addition, scores above 95 (not included) are graded as "Top Score". Fill in this function so that it returns the proper grade.

In [50]:
def exam_grade(score):
	if score > 95:
		grade = "Top Score"
	elif score >= 60 and score <= 95:
		grade = "Pass"
	else:
		grade = "Fail"
	return grade

print(exam_grade(65)) # Should be Pass
print(exam_grade(55)) # Should be Fail
print(exam_grade(60)) # Should be Pass
print(exam_grade(95)) # Should be Pass
print(exam_grade(100)) # Should be Top Score
print(exam_grade(0)) # Should be Fail

Pass
Fail
Pass
Pass
Top Score
Fail

In [158]:
11 % 5

1

In [51]:
def format_name(first_name, last_name):
	if first_name != "" and last_name!= "":
		string = "Name: " + last_name + ", " + first_name
	elif first_name != "" or last_name!= "":
		string = "Name: " + last_name + first_name
	else:
		string = ""
	return string 

print(format_name("Ernest", "Hemingway"))
# Should return the string "Name: Hemingway, Ernest"

print(format_name("", "Madonna"))
# Should return the string "Name: Madonna"

print(format_name("Voltaire", ""))
# Should return the string "Name: Voltaire"

print(format_name("", ""))
# Should return an empty string

Name: Hemingway, Ernest
Name: Madonna
Name: Voltaire

In [52]:
def format_name(first_name, last_name):
    if len(first_name) != 0 and len(last_name)!=0:
        return last_name + ", "+ first_name
    elif len(first_name)!=0 or len(last_name)!=0:
        return last_name + first_name
    else:
        return ""

print(format_name("Ernest", "Hemingway"))
# Should return the string "Name: Hemingway, Ernest"

print(format_name("", "Madonna"))
# Should return the string "Name: Madonna"

print(format_name("Voltaire", ""))
# Should return the string "Name: Voltaire"

print(format_name("", ""))
# Should return an empty string

Hemingway, Ernest
Madonna
Voltaire

Question : <br>
The longest_word function is used to compare 3 words. It should return the word with the most number of characters (and the first in the list when they have the same length).

In [53]:
def longest_word(word1, word2, word3):
	if len(word1) >= len(word2) and len(word1) >= len(word3):
		word = word1
	elif len(word2) >= len(word1) and len(word2) >= len(word3):
		word = word2
	else:
		word = word3
	return(word)

print(longest_word("chair", "couch", "table"))
print(longest_word("bed", "bath", "beyond"))
print(longest_word("laptop", "notebook", "desktop"))

chair
beyond
notebook

In [54]:
def sum1(x, y):
	return(x+y)
    
print(sum1(sum1(1,2), sum1(3,4)))

10

In [55]:
((10 >= 5*2) and (10 <= 5*2))

True

Question: <br>The fractional_part function divides the numerator by the denominator, and returns just the fractional part (a number between 0 and 1). Complete the body of the function so that it returns the right number.
Note: Since division by 0 produces an error, if the denominator is 0, the function should return 0 instead of attempting the division.

In [56]:
def fractional_part(numerator, denominator):
	# Operate with numerator and denominator to 
    # keep just the fractional part of the quotient
    if (denominator > 0):
        return (numerator%denominator)/denominator
    return 0

print(fractional_part(5, 5)) # Should be 0
print(fractional_part(5, 4)) # Should be 0.25
print(fractional_part(5, 3)) # Should be 0.66...
print(fractional_part(5, 2)) # Should be 0.5
print(fractional_part(5, 0)) # Should be 0
print(fractional_part(0, 5)) # Should be 0

0.0
0.25
0.6666666666666666
0.5
0
0.0

# Week 3

##  Loops

* make computer to do repetitive task

### While Loop:
 While Loops instruct your computer to continuously execute your code based on the value of a condition. <br>
 keep executing till condition is not true anymore
```python:
initialization
while condition: 
    code if condition is true
    increment
    repeat the same code till condition is false
exit loop

```

In [57]:
x = 0    # iniialization
while x < 5:      # loop with condition
#     body of the loop
    print("Not there yet, X = " + str(x))
    x = x+1  # incrementation is not defined in python
print ("X = " + str(x))

Not there yet, X = 0
Not there yet, X = 1
Not there yet, X = 2
Not there yet, X = 3
Not there yet, X = 4
X = 5

##### Another Example

In [58]:
def attempts(n):
    x = 1
    while x <= n:
        print("Attempt " + str(x))
        x += 1 # short hand for x = x + 1
attempts(8)

Attempt 1
Attempt 2
Attempt 3
Attempt 4
Attempt 5
Attempt 6
Attempt 7
Attempt 8

##### Another Example

In [59]:
username = get_username()
while not valid_username(username):
    print("Invalid Username")
    username = get_username()

NameError: name 'get_username' is not defined

##### Pitfalls
##### Why Initializing Variables Matters
 If you try to use a variable without first initializing it, you'll run into a NameError.

In [60]:
while my_variable < 10 :
    print("Hello")
    my_variable += 1
    
    #Error: 'my_variable' is not defined

NameError: name 'my_variable' is not defined

In [61]:
my_variable = 1    # Fixed
while my_variable <= 5 :
    print("Hello")
    my_variable += 1

Hello
Hello
Hello
Hello
Hello

 if we reuse the variable without setting the correct value from the start, it will still have the value from before. This can lead to some pretty unexpected behavior. <br>
 Ex:

In [62]:
x = 1
sum = 0
while x <= 10:
    sum += x
    x += 1

#here we forgot to initialize x. So x is still 11, this means that when the while condition gets checked, 
# x is already 11 at the start of the iteration. 
#The while condition is false before it even starts and the body never executes.

product = 1
while x <= 10:
    product = product * x
    x += 1
    
# python doesn't raise an error here
print(sum, product)

55 1

##### Infinite Loops and How to Break Them
 infinite loop: a loop that keeps executing and never stops.

In [63]:
# if x = 0 then loop is infinite
while x % 2 == 0:
    x = x/2

# to avoid this 
if x!= 0:
    while x % 2 == 0:
        x = x/2
        
# or

while x!= 0 and x % 2 == 0:
    x = x/2

 Syntax:
```python:
 while True:
    do_something_cool()
    if user_requested_to_stop():
        break
```

#### Practice Quiz: While Loops

Question 2
Fill in the blanks to make the print_prime_factors function print all the prime factors of a number. A prime factor is a number that is prime and divides another without a remainder.

1 point

In [65]:
def print_prime_factors(number):
    factor = 2
    sqrt_number = number**(1/2)
    while factor <= sqrt_number:
        if number % factor == 0:
            print(factor)
            number = number/factor
        else:
            factor += 1
    return "Done"
print_prime_factors(100)

2
2
5
5

'Done'

In [66]:
def print_prime_factors(number):
  # Start with two, which is the first prime
  factor = 2
  # Keep going until the factor is larger than the number
  while factor <= number:
    # Check if factor is a divisor of number
    if number % factor == 0:
      # If it is, print it and divide the original number
      print(factor)
      number = number / factor
    else:
      # If it's not, increment the factor by one
      factor +=1
  return "Done"

print_prime_factors(100)
# Should print 2,2,5,5
# DO NOT DELETE THIS COMMENT

2
2
5
5

'Done'

Question 3 <br>
The following code can lead to an infinite loop. Fix the code so that it can finish successfully for all numbers.

Note: Try running your function with the number 0 as the input, and see what you get!

In [67]:
def is_power_of_two(n):
  # Check if the number can be divided by two without a remainder
  while n != 0 and n % 2 == 0:
    n = n / 2
  # If after dividing by two the number is 1, it's a power of two
  if n == 1:
    return True
  return False
  

print(is_power_of_two(0)) # Should be False
print(is_power_of_two(1)) # Should be True
print(is_power_of_two(8)) # Should be True
print(is_power_of_two(9)) # Should be False

False
True
True
False

Question 4 <br>
Fill in the empty function so that it returns the sum of all the divisors of a number, without including it. A divisor is a number that divides into another without a remainder.

REdo it...

In [68]:
def sum_divisors(number):
    divisor = 1
    sum = 0
    while  number != 0 and divisor < number:
        if number % divisor == 0:
            sum = sum + divisor
        divisor += 1
    return sum

print(sum_divisors(0))# 0
print(sum_divisors(3)) # Should sum of 1
print(sum_divisors(36)) # Should sum of 1+2+3+4+6+9+12+18 = 55
print(sum_divisors(102)) # Should be sum of 2+3+6+17+34+51 = 114

0
1
55
114

In [79]:
def sum_divisor(n):
    return sum([i for i in range (1, n) if n % i == 0] )
    # Return the sum of all divisors of n, not including n


print(sum_divisor(0))# 0
print(sum_divisor(3)) # Should sum of 1
print(sum_divisor(36)) # Should sum of 1+2+3+4+6+9+12+18 = 55
print(sum_divisor(102)) # Should be sum of 2+3+6+17+34+51 = 114

TypeError: 'int' object is not callable

In [80]:
sum(1,4)

TypeError: 'int' object is not callable

Question: <br>The multiplication_table function prints the results of a number passed to it multiplied by 1 through 5. An additional requirement is that the result is not to exceed 25, which is done with the break statement. Fill in the blanks to complete the function to satisfy these conditions.

In [81]:
def multiplication_table(number):
	# Initialize the starting point of the multiplication table
	multiplier = 1
	# Only want to loop through 5
	while multiplier <= 5:
		result = number * multiplier 
		# What is the additional condition to exit out of the loop?
		if result >= 25 :
			break
		print(str(number) + " x " + str(multiplier) + " = " + str(result))
		# Increment the variable for the loop
		multiplier += 1

multiplication_table(3) 
# Should print: 3x1=3 3x2=6 3x3=9 3x4=12 3x5=15
print()
multiplication_table(5) 
# Should print: 5x1=5 5x2=10 5x3=15 5x4=20 5x5=25
print()
multiplication_table(8)	
# Should print: 8x1=8 8x2=16 8x3=24

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20

8 x 1 = 8
8 x 2 = 16
8 x 3 = 24

 ### FOR Loop
 * iterates over a sequence of values

#### Range Function
1. in Python and a lot of other programming languages, a range of numbers will start with the value 0 by default.
2. the list of numbers generated will be one less than the given value.
3. It can receive 1, 2, or 3 parameters
    * One parameters: (n) means 0 to n-1
    * Two parameters: (1, n) means from 1 to n-1 not inlcluding the last element
    * Three parameters: (1, n, x) means from 1 to n-1 with the jump size of x or incrementing by x in each step

In [82]:
for x in range (5):
    print (x)

0
1
2
3
4

A function to calculate the square of a number, and then use a for loop to sum the squares of the numbers in a range.

In [83]:
def square(n):
    return n*n

def sum_squares(x):
    sum = 0
    for n in range(x):
        sum += square(n)
    return sum

print(sum_squares(10)) # Should be 285

285

 * sequence of any type i.e.
     ```python: 
    friends = ['Tayler', 'Alex', 'Pat', 'Eli']
    for friend in friends:
        print("Hi " + friend)
```

* The power of for loops comes from the fact that it can iterate over a sequence of any kind of data, not just a range of numbers. You can use for loops to iterate over a list of strings, such as usernames or lines in a file.

In [84]:
friends = ['Tayler', 'Alex', 'Pat', 'Eli']
for friend in friends:
    print("Hi " + friend)
type(friends)

Hi Tayler
Hi Alex
Hi Pat
Hi Eli

list

In [85]:
values = [23,52, 59, 37, 88]
sum = 0
length = 0
for value in values:
    sum += value
    length += 1
    
print ("Total sum: " + str(sum) + "  & Average: " + str(sum/length))
type(values)

Total sum: 259  & Average: 51.8

list

#### When to use for/while loop
**For:** when there;s a sequence of elements that you want to iterate.

**While:** When yu want to repeat an action until a condition changes

a while loop is great for performing an action over and over until a condition has changed. A for loop works well when you want to iterate over a sequence of elements

##### More Examples

In [86]:
product = 1
for n in range (1, 10):
    product *= n

print(product)

362880

**Factorial:**

In [87]:
def factorial(n):
    result = 1
    for i in range(2,n+1):
        result = result * i
    return result

print(factorial(4)) # should return 24
print(factorial(10)) # should return 120

24
3628800

**Tempereature**

In [88]:
def to_celcius(x):
    return (x-32) * 5/9

for x in range(0, 101, 10):
    print(x, to_celcius(x))

0 -17.77777777777778
10 -12.222222222222221
20 -6.666666666666667
30 -1.1111111111111112
40 4.444444444444445
50 10.0
60 15.555555555555555
70 21.11111111111111
80 26.666666666666668
90 32.22222222222222
100 37.77777777777778

#### Nested For Loops
the longer the list your code needs to iterate through, the longer it takes your computer to complete the task.

**Dominos Tiles** <br>
*If we want print to write something else instead of the newline character, we use the end parameter, here it print space*

In [89]:
for left in range(7):
    for right in range (left, 7): 
        print("[" + str(left) + "|" + str(right) + "]", end = " ")
    print()

[0|0] [0|1] [0|2] [0|3] [0|4] [0|5] [0|6]
[1|1] [1|2] [1|3] [1|4] [1|5] [1|6]
[2|2] [2|3] [2|4] [2|5] [2|6]
[3|3] [3|4] [3|5] [3|6]
[4|4] [4|5] [4|6]
[5|5] [5|6]
[6|6]

Team pairing for the match

In [90]:
teams = [ 'Dragons', 'Wolves', 'Pandas', 'Unicorns']
for home_team in teams:
    for away_team in teams:
        if home_team != away_team:
            print(home_team + " VS " + away_team)
    print()

Dragons VS Wolves
Dragons VS Pandas
Dragons VS Unicorns

Wolves VS Dragons
Wolves VS Pandas
Wolves VS Unicorns

Pandas VS Dragons
Pandas VS Wolves
Pandas VS Unicorns

Unicorns VS Dragons
Unicorns VS Wolves
Unicorns VS Pandas

**Common Errors in for Loops**
*

In [91]:
#Problem
for x in 25: 
    print(x)
    
#solutin 1
for x in range(25):
    print (x)  # print 0 - 24
    
# solution 2
for x in [25]:  # use it as an element of a list
    print(x) # print 25 only

TypeError: 'int' object is not iterable

In [92]:
def greet_friends(friends):
    for friend in friends:
        print("Hi " + friend)

greet_friends(['Ram', 'Shyam', 'Karan', 'Radha'])
greet_friends("Barry")
#strings are iterable, the for loop will go over each letter 
#of the string and do the operation we asked it to do, 
#which in this case, print a greeting

Hi Ram
Hi Shyam
Hi Karan
Hi Radha
Hi B
Hi a
Hi r
Hi r
Hi y

**Practice Quiz: For Loops**

Question 2
Fill in the blanks to make the factorial function return the factorial of n. Then, print the first 10 factorials (from 0 to 9) with the corresponding number. Remember that the factorial of a number is defined as the product of an integer and all integers before it. For example, the factorial of five (5!) is equal to 1*2*3*4*5=120. Also recall that the factorial of zero (0!) is equal to 1.

In [93]:
def factorial(n):
    result = 1
    for x in range(1,n+1):
        result = result * x
    return result

for n in range(0,10):
    print(n, factorial(n))

0 1
1 1
2 2
3 6
4 24
5 120
6 720
7 5040
8 40320
9 362880

Write a script that prints the first 10 cube numbers (x**3), starting with x=1 and ending with x=10

In [94]:
for i in range(1,11):
  print(i**3)

1
8
27
64
125
216
343
512
729
1000

Write a script that prints the multiples of 7 between 0 and 100. Print one multiple per line and avoid printing any numbers that aren't multiples of 7. Remember that 0 is also a multiple of 7.

In [95]:
for i in range(0, 101,7):
    print(i)

0
7
14
21
28
35
42
49
56
63
70
77
84
91
98

In [96]:
multiples = [i for i in range(0,101) if i%7 == 0]
for multiple in multiples:
    print(multiple)

0
7
14
21
28
35
42
49
56
63
70
77
84
91
98

The retry function tries to execute an operation that might fail, it retries the operation for a number of attempts.  Currently the code will keep executing the function even if it succeeds. Fill in the blank so the code stops trying after the operation succeeded.

### Recursion
* not that much used in Automation
* repeated application of the same procedure to a smaller problem 
* i.e. Russian Nesting Doll, how many people are in-front of me in a line
* in programming, recursion is a way of doing a repetitive task by having a function call itself.
* until we reach the base case like smallest russian doll
```python: 
    def recursive_function(parameters):
        if base_case_condition(parameters):
            return base_case_value
        recursive_function(modified_parameters)

    i.e
    
    def factorial(n):
        if n < 2:   # Base case
            return 1
        return n * factorail(n-1)  # Recursive case
```

In [97]:
def factorial(n):
    print("Factorial called with " + str(n))
    if n < 2: 
        print("Returning 1")
        return 1
    result = n * factorial(n-1)
    print("Returning " + str(result) + " for factorial of " + str(n))
    return result

factorial(5)

Factorial called with 5
Factorial called with 4
Factorial called with 3
Factorial called with 2
Factorial called with 1
Returning 1
Returning 2 for factorial of 2
Returning 6 for factorial of 3
Returning 24 for factorial of 4
Returning 120 for factorial of 5

120

#### Recursion in Action in the IT Context
* some soln are very easy to define in recursive way than using loop
* eg. directories in a directory
* operating over recursive structure
* anything deals with group of users that can containe other groups
* Active directory or LDAP
* maximum recursion depth: 1000

#### Practice Quiz: Recursion

Question 1
What is recursion used for?

a. Recursion is used to create loops in languages where other loops are not available.


b. We use recursion only to implement mathematical formulas in code.


c. Recursion is used to iterate through sequences of files and directories.


**d. Recursion lets us tackle complex problems by reducing the problem to a simpler one.**

Questin 2 
Which of these activities are good use cases for recursive programs? Check all that apply.

**a. Going through a file system collecting information related to directories and files.**


b. Creating a user account.


c. Installing or upgrading software on the computer.


**d. Managing permissions assigned to groups inside a company, when each group can contain both subgroups and users.**


e. Checking if a computer is connected to the local network.

Question 3:
Fill in the blanks to make the is_power_of function return whether the number is a power of the given base. Note: base is assumed to be a positive number. Tip: for functions that return a boolean value, you can return the result of a comparison.

In [98]:
def is_power_of(number, base):
  # Base case: when number is smaller than base.
  if number < base:
    # If number is equal to 1, it's a power (base**0).
    return number == 1
  # Recursive case: keep dividing number by base.
  return is_power_of(number/base, base)

print(is_power_of(8,2)) # Should be True
print(is_power_of(64,4)) # Should be True
print(is_power_of(70,10)) # Should be False

True
True
False

Question 4
The count_users function recursively counts the amount of users that belong to a group in the company system, by going through each of the members of a group and if one of them is a group, recursively calling the function and counting the members. But it has a bug! Can you spot the problem and fix it?

In [99]:
def count_users(group):
  count = 0
  for member in get_members(group):
    count += 1
    if is_group(member):
      count += count_users(member)-1
  return count

print(count_users("sales")) # Should be 3
print(count_users("engineering")) # Should be 8
print(count_users("everyone")) # Should be 18

NameError: name 'get_members' is not defined

Question 5:   Implement the sum_positive_numbers function, as a recursive function that returns the sum of all positive numbers between the number n received and 1. For example, when n is 3 it should return 1+2+3=6, and when n is 5 it should return 1+2+3+4+5=15.

In [100]:
def sum_positive_numbers(n):
    if n == 1:
        return 1
    else:
        return n + sum_positive_numbers(n-1)

print(sum_positive_numbers(3)) # Should be 6
print(sum_positive_numbers(5)) # Should be 15

6
15

### Module 3 Graded Assessment

Fill in the blanks of this code to print out the numbers 1 through 7.
```python:
number = 1
while number ___ 7:
	print(number, end=" ")
	___
    ```

In [101]:
number = 1
while number <= 7:
	print(number, end=" ")
	number += 1

1 2 3 4 5 6 7

The show_letters function should print out each letter of a word on a separate line.
Fill in the blanks to make that happen.
```python:
def show_letters(word):
	for __:
		print(__)

show_letters("Hello")
#Should print one line per letter
```

In [102]:
def show_letters(word):
	for letter in word:
		print(letter)

show_letters("Hello")
# Should print one line per letter

H
e
l
l
o

Question 3
Complete the function digits(n) that returns how many digits the number has. For example: 25 has 2 digits and 144 has 3 digits. Tip: you can figure out the digits of a number by dividing it by 10 once per digit until there are no digits left.

```python:
def digits(n):
	count = 0
	if n == 0:
	  ___
	while (___):
		count += 1
		___
	return count
	
print(digits(25))   # Should print 2
print(digits(144))  # Should print 3
print(digits(1000)) # Should print 4
print(digits(0))    # Should print 1
```

In [103]:
def digits(n):
	count = 0
	if n == 0:
	  return 1
	while (n > 0):
		count += 1
		n = n//10
	return count
	
print(digits(25))   # Should print 2
print(digits(144))  # Should print 3
print(digits(1000)) # Should print 4
print(digits(0))    # Should print 1

2
3
4
1

This function prints out a multiplication table (where each number is the result of multiplying the first number of its row by the number at the top of its column). Fill in the blanks so that calling multiplication_table(1, 3) will print out:

1 2 3 

2 4 6 

3 6 9
```python:
def multiplication_table(start, stop):
	for x in ___:
		for y in ___:
			print(str(x*y), end=" ")
		print()

multiplication_table(1, 3)
# Should print the multiplication table shown above
```

In [104]:
def multiplication_table(start, stop):
	for x in range(start, stop +1):
		for y in range (start, stop +1):
			print(str(x*y), end=" ")
		print()

multiplication_table(1, 3)
# Should print the multiplication table shown above

1 2 3
2 4 6
3 6 9

Question 5
The counter function counts down from start to stop when start is bigger than stop, and counts up from start to stop otherwise. Fill in the blanks to make this work correctly.
```python:
def counter(start, stop):
	x = start
	if ___:
		return_string = "Counting down: "
		while x >= stop:
			return_string += str(x)
			if ___:
				return_string += ","
			___
	else:
		return_string = "Counting up: "
		while x <= stop:
			return_string += str(x)
			if ___:
				return_string += ","
			___
	return return_string

print(counter(1, 10)) # Should be "Counting up: 1,2,3,4,5,6,7,8,9,10"
print(counter(2, 1)) # Should be "Counting down: 2,1"
print(counter(5, 5)) # Should be "Counting up: 5"
```

In [105]:
def counter(start, stop):
	x = start
	if x > stop:
		return_string = "Counting down: "
		while x >= stop:
			return_string += str(x)
			if x > stop:
				return_string += ","
			x = x-1
	else:
		return_string = "Counting up: "
		while x <= stop:
			return_string += str(x)
			if x < stop:
				return_string += ","
			x += 1
	return return_string

print(counter(1, 10)) # Should be "Counting up: 1,2,3,4,5,6,7,8,9,10"
print(counter(2, 1)) # Should be "Counting down: 2,1"
print(counter(5, 5)) # Should be "Counting up: 5"

Counting up: 1,2,3,4,5,6,7,8,9,10
Counting down: 2,1
Counting up: 5

Question 6
The even_numbers function returns a space-separated string of all positive numbers that are divisible by 2, up to and including the maximum that's passed into the function. For example, even_numbers(6) returns 2 4 6. Fill in the blank to make this work
```python:
def even_numbers(maximum):
	return_string = ""
	for x in ___:
		return_string += str(x) + " "
	return return_string.strip()

print(even_numbers(6))  # Should be 2 4 6
print(even_numbers(10)) # Should be 2 4 6 8 10
print(even_numbers(1))  # No numbers displayed
print(even_numbers(3))  # Should be 2
print(even_numbers(0))  # No numbers displayed
```

In [106]:
def even_numbers(maximum):
	return_string = ""
	for x in range(2, maximum +1, 2):
		return_string += str(x) + " "
	return return_string.strip()

print(even_numbers(6))  # Should be 2 4 6
print(even_numbers(10)) # Should be 2 4 6 8 10
print(even_numbers(1))  # No numbers displayed
print(even_numbers(3))  # Should be 2
print(even_numbers(0))  # No numbers displayed

2 4 6
2 4 6 8 10

2

The following code raises an error when executed. What's the reason for the error?
```python:
def decade_counter():
	while year < 50:
		year += 10
	return year
```
a. Incrementing by 10 instead of 1


**b. Failure to initialize variables**


c. Nothing is happening inside the while loop


d. Wrong comparison operator

Question 8
What is the value of x at the end of the following code?

In [107]:
for x in range(1, 10, 3):
    print(x)

1
4
7

Question 9
What is the value of y at the end of the following code?

In [108]:
for x in range(10):
    for y in range(x):
        print(y)
    print()
print(y)

0

0
1

0
1
2

0
1
2
3

0
1
2
3
4

0
1
2
3
4
5

0
1
2
3
4
5
6

0
1
2
3
4
5
6
7

0
1
2
3
4
5
6
7
8

8

How does this function need to be called to print yes, no, and maybe as possible options to vote for?
```python:
def votes(params):
	for vote in params:
	    print("Possible option:" + vote)
```

votes("yes", "no", "maybe")


votes(yes, no, maybe)


votes([yes, no, maybe])


**votes(['yes', 'no', 'maybe'])**

# Week 4
## String
string is a datatype whch represent a piece of text, written b/w quotes, either single or double

In [1]:
#syntax error when quotes don't match
name = 'shasha'
color  = "gold"
place = "delhi' #error

SyntaxError: EOL while scanning string literal (<ipython-input-1-f6b424edf827>, line 4)

In [109]:
pet = '' # empty string
pet = "longggggggggggggggggg dog"
name = 'shasha'
color  = "gold"
print("Name: " + name + " Favorite Color: " + color) # cancatenation

Name: shasha Favorite Color: gold

multiply the string by a number, which multiplies the content of the string that many times like this.

In [110]:
"Name " * 3

'Name Name Name '

length of string

In [111]:
print(len(name))
len(pet)

6

25

Modify the double_word function so that it returns the same word repeated twice, followed by the length of the new doubled word. For example, double_word("hello") should return hellohello10

In [112]:
def double_word(word):
    return word * 2 + str(len(word*2))

print(double_word("hello")) # Should return hellohello10
print(double_word("abc"))   # Should return abcabc6
print(double_word(""))      # Should return 0

hellohello10
abcabc6
0

### The Parts of a String
indexing starts from 0 in string too

In [113]:
name = "Kalua"
#index:"01234"
print(name[1])
print(name[0])
print(name[4])
print(name[5]) #strign index out of range

a
K
a

IndexError: string index out of range

**Negative indexing:** <br>
when we don't know the length of the string but wanna print last character of the string

In [114]:
name = "Einstein"
print(name[-1])
print(name[-4])

n
t

Modify the first_and_last function so that it returns True if the first letter of the string is the same as the last letter of the string, False if theyre different. Remember that you can access characters using message[0] or message[-1].
Be careful how you handle the empty string, which should return True since nothing is equal to nothing.
```python:
def first_and_last(message):
    return False

print(first_and_last("else"))
print(first_and_last("tree"))
print(first_and_last(""))
```

In [115]:
def first_and_last(message):
    if (len(message) == 0):
        return True
    elif (message[0] == message[-1]):
        return True
    else:
        return False

print(first_and_last("else"))
print(first_and_last("tree"))
print(first_and_last(""))

True
False
True

In [116]:
def first_and_last(message):
    if (len(message) == 0 or message[0] == message[-1]):
        return True
    else:
        return False

print(first_and_last("else"))
print(first_and_last("tree"))
print(first_and_last(""))

True
False
True

**Better codes**

In [117]:
def first_and_last(message):
    if (len(message) == 0 or message[0].lower() == message[-1].lower()):
        return True
    else:
        return False

print(first_and_last("else"))
print(first_and_last("tree"))
print(first_and_last(""))

True
False
True

**slice**: portion of a string that can contain more than one character, or substring
```python:
variable_name[start_index : stop_index]

```
where stop_index is not included

In [118]:
color = "Orange"
color[1:4]

'ran'

In [119]:
fruit = "pineapple"
print(fruit[:4])  #from index nothing or zero to index 4
print(fruit[4:]) #from index 4 onwards including 4

pine
apple

### Creating New Strings
we can't change individual characters because strings in Python are immutable, which is just a fancy word, meaning they can't be modified.

In [120]:
#          0123456  
message = "A kong string with a silly typo"
message[2] = "l"

TypeError: 'str' object does not support item assignment

In [121]:
new_message = message[0:2] + "l" + message[3:]
print(new_message)

A long string with a silly typo

In [122]:
message = "This is a new message"
print(message)
message = "and another one"
print(message)

This is a new message
and another one

method to get index of certain character <br>
if theres more than one match for a substring, the index method will return the first match

In [123]:
pets = "Cats & Dogs"
print(pets.index("&"))
print(pets.index("C"))
print(pets.index("Dog"))
print(pets.index("s"))

5
0
7
3

In [124]:
print(pets.index("x"))
# if substring is not in the string then it'll show ValueError

ValueError: substring not found

Using the index method, find out the position of "x" in "supercalifragilisticexpialidocious"
```python:
word = "supercalifragilisticexpialidocious"
print(___)

```

In [7]:
word = "supercalifragilisticexpialidocious"
print(word.index("x"))
print(word.count('s'))
'calif' in word

21
3

True

In [126]:
"Dragons" in pets

False

In [127]:
"Cats" in pets

True

move old domain of the email address with the new ones

In [10]:
def replace_domain(email, old_domain, new_domain):
    if "@" + old_domain in email:
        index = email.index("@" + old_domain)
        new_email = email[:index] + "@" + new_domain
        return new_email
    return email
replace_domain("abc@pqr.com", "pqr.com", "xyz.com")

'abc@xyz.com'

### More String Methods

In [129]:
"MOuntains".upper() # return the string all in uppercase.

'MOUNTAINS'

In [130]:
"MOuntains".lower() #return the string with all characters changed to lowercase.

'mountains'

they're really useful in dealing with user inputs

In [131]:
answer = "YES"
if answer.lower() == "yes":
    print("User said yes")

User said yes

**strip method:** to strip surrounding space like  whitespaces.Whitespace includes spaces, tabs, and newline characters.
* lstrip
* rstrip

In [132]:
" yes \n ".strip()

'yes'

In [133]:
" \n yes  ".lstrip()   #remove whitespace only from the left side of the string

'yes  '

In [134]:
" yes \t ".rstrip() #remove whitespace only from the right side of the string,

' yes'

In [135]:
ans = "yes \n"
print(ans * 5)

yes
yes
yes
yes
yes

**Count** : return the number of times a substring appears in a string

In [136]:
"The number of times e occurs in this string is 4".count("e")

4

**endwith method**: return True if the substring is found at the end of the string, and False if not.

In [139]:
"Forest".endswith("rest")

True

In [11]:
'Night'.endswith('Dinner')

False

**isnumeric method** can check if a string is composed of only numbers
* . We can use this to check if a string contains numbers before passing the string to the int() function to convert it to an integer, avoiding an error. Useful!

In [141]:
"12345".isnumeric()

True

In [142]:
"Forest".isnumeric()

False

In [143]:
"Fun123".isnumeric()

False

In [144]:
int("Fun123")

ValueError: invalid literal for int() with base 10: 'Fun123'

In [145]:
int("12345") + int("54321")

66666

**join method** to concatenate strings

In [15]:
" ".join(["This", "is", "a", "phrase", "joined", "by", "spaces"])

'This is a phrase joined by spaces'

In [147]:
"...".join(["This", "is", "a", "phrase", "joined", "triple", "dots"])

'This...is...a...phrase...joined...triple...dots'

 **split method.**: allows us to split a string into a list of strings by any whitespace characters
 * You can also split by any other characters by passing a parameter.

In [148]:
"This is an example".split()

['This', 'is', 'an', 'example']

In [149]:
"AAAxBBBxCCCxDDDxEEE".split('x')

['AAA', 'BBB', 'CCC', 'DDD', 'EEE']

Fill in the gaps in the initials function so that it returns the initials of the words contained in the phrase received, in upper case. For example: "Universal Serial Bus" should return "USB"; "local area network" should return "LAN.

```python:
def initials(phrase):
    words = phrase.___
    result = ""
    for word in words:
        result += ___
    return ___

print(initials("Universal Serial Bus")) # Should be: USB
print(initials("local area network")) # Should be: LAN
print(initials("Operating system")) # Should be: OS
```

In [16]:
def initials(phrase):
    words = phrase.split()
    result = ""
    for word in words:
        result += word[0].upper()
    return result

print(initials("Universal Serial Bus")) # Should be: USB
print(initials("local area network")) # Should be: LAN
print(initials("Operating system")) # Should be: OS

USB
LAN
OS

### Formatting Strings
This method automatically handles any conversion between data types for us. 
* if curly bracket is empty, then it'll be first var in format will come first
* if not empty then we can put the name desireably

In [22]:
name = "Manny"
number = len(name) * 3
print("Hello {}, your lucky number is {}".format(name, number))
print("Your Lucky number is {number}, {name}. ".format(name = name, number = len(name) * 3))

Hello Manny, your lucky number is 15
Your Lucky number is 15, Manny.

Modify the student_grade function using the format method, so that it returns the phrase "X received Y% on the exam". For example, student_grade("Reed", 80) should return "Reed received 80% on the exam"
```python:
def student_grade(name, grade):
	return ""

print(student_grade("Reed", 80))
print(student_grade("Paige", 92))
print(student_grade("Jesse", 85))
```

In [152]:
def student_grade(name, grade):
	return "{} received {}% on the exam".format(name, grade)

print(student_grade("Reed", 80))
print(student_grade("Paige", 92))
print(student_grade("Jesse", 85))

Reed received 80% on the exam
Paige received 92% on the exam
Jesse received 85% on the exam

In [153]:
price = 10.5
with_tax = price * 1.09
print(price, with_tax)

10.5 11.445

In [154]:
print("Base price: {:.2f}. With Tax: {:.2f}". format(price, with_tax))
# format this as a float number, with two digits after the decimal dot colon is for the substring

Base price: 10.50. With Tax: 11.45

* temperature example with above changes
* greater than operator to align text to the right so that the output is neatly aligned
* (>3) means numbers to be aligned to the right for a total of three spaces. 
* (>6.2f): means align it to the right at six spaces with 2 decimal value

In [23]:
def to_celcius(x):
    return (x-32) * 5/9

for x in range(0, 101, 10):
    print("{:>3} F | {:>6.2f} C".format(x, to_celcius(x)))

  0 F | -17.78 C
 10 F | -12.22 C
 20 F |  -6.67 C
 30 F |  -1.11 C
 40 F |   4.44 C
 50 F |  10.00 C
 60 F |  15.56 C
 70 F |  21.11 C
 80 F |  26.67 C
 90 F |  32.22 C
100 F |  37.78 C

In [43]:
def to_farenhite(temp):
    return 9/5*temp +32

for x in range(0,101, 10):
#     print("{:>3} C | {:>5.1f}F".format(x, to_farenhite(x)))
    print(f'{x:>3}C | {to_farenhite(x):>5.1f}F')

  0C |  32.0F
 10C |  50.0F
 20C |  68.0F
 30C |  86.0F
 40C | 104.0F
 50C | 122.0F
 60C | 140.0F
 70C | 158.0F
 80C | 176.0F
 90C | 194.0F
100C | 212.0F

In [156]:
# "base string with {} placeholders".format(variables)

example = "format() method"

formatted_string = "this is an example of using the {} on a string".format(example)

print(formatted_string)

# Outputs:
#this is an example of using the format() method on a string

this is an example of using the format() method on a string

In [157]:
first = "apple"
second = "banana"
third = "carrot"

formatted_string = "{0} {2} {1}".format(first, second, third)

print(formatted_string)

apple carrot banana

**formatted string literals:** <br>
The important difference with the format method is that it takes the value of the variables from the current context, instead of taking the values from parameters.
* f-string
* Added in python 3.6

In [158]:
name = "Deepak"
print(F'Hello {name}')

Hello Deepak

In [41]:
item = 'purple cap'
amount = 5
price = amount * 3.52
print(f'item: {item}, amount: {amount}, price: {price:.2f}')

item: purple cap, amount: 5, price: 17.60

In [44]:
for i in range (100,0,-10):
    print(i)

100
90
80
70
60
50
40
30
20
10

In [49]:
# print([i for i in range(100, 0, -1) if i%10 == 0])
print([i for i in range(100, 0, -10)])

[100, 90, 80, 70, 60, 50, 40, 30, 20, 10]

### Practice Quiz: Strings

Question 1
The is_palindrome function checks if a string is a palindrome. A palindrome is a string that can be equally read from left to right or right to left, omitting blank spaces, and ignoring capitalization. Examples of palindromes are words like kayak and radar, and phrases like "Never Odd or Even". Fill in the blanks in this function to return True if the passed string is a palindrome, False if not.

```python:
def is_palindrome(input_string):
	# We'll create two strings, to compare them
	new_string = ""
	reverse_string = ""
	# Traverse through each letter of the input string
	for ___:
		# Add any non-blank letters to the 
		# end of one string, and to the front
		# of the other string. 
		if ___:
			new_string = ___
			reverse_string = ___
	# Compare the strings
	if ___:
		return True
	return False

print(is_palindrome("Never Odd or Even")) # Should be True
print(is_palindrome("abc")) # Should be False
print(is_palindrome("kayak")) # Should be True
```

In [161]:
#incorrect soln 
#why??
## reason: space in middle of  the string is the part of the string so strip fn can't remove it
def is_palindrome(input_string):
    input_string = input_string.strip()
    input_string= input_string.lower()
#     print(input_string)
    reverse_string = input_string[::-1] #reversed string
#     print(reverse_string)
    if reverse_string == input_string:
        return True
    return False

print(is_palindrome("Never Odd or Even")) # Should be True
print(is_palindrome("abc")) # Should be False
print(is_palindrome("kayak")) # Should be True

False
False
True

In [50]:
def is_palindrome(input_string):
	# We'll create two strings, to compare them
	new_string = ""
	reverse_string = ""
	# Traverse through each letter of the input string
	for string in input_string.lower():
		# Add any non-blank letters to the 
		# end of one string, and to the front
		# of the other string. 
		if string.replace(" ", ""):
			new_string = string + new_string
			reverse_string = string + reverse_string
	# Compare the strings
	if new_string[::-1] == reverse_string:
		return True
	return False

print(is_palindrome("Never Odd or Even")) # Should be True
print(is_palindrome("abc")) # Should be False
print(is_palindrome("kayak")) # Should be True

True
False
True

In [51]:
def is_palindrome(input_string):
    new_string = ''
    for string in input_string.lower():
        if string != " ":
            new_string+= string
    reverse_string = new_string[::-1]
    if new_string == reverse_string:
        return True
    return False
print(is_palindrome("Never Odd or Even")) # Should be True
print(is_palindrome("abc")) # Should be False
print(is_palindrome("kayak")) # Should be True

True
False
True

Using the format method, fill in the gaps in the convert_distance function so that it returns the phrase "X miles equals Y km", with Y having only 1 decimal place. For example, convert_distance(12) should return "12 miles equals 19.2 km"
```python:
def convert_distance(miles):
	km = miles * 1.6 
	result = "{} miles equals {___} km".___
	return result

print(convert_distance(12)) # Should be: 12 miles equals 19.2 km
print(convert_distance(5.5)) # Should be: 5.5 miles equals 8.8 km
print(convert_distance(11)) # Should be: 11 miles equals 17.6 km
```

In [60]:
def convert_distance(miles):
	km = miles * 1.6 
	result = "{} miles equals {:.1f} km".format(miles, km)
	return result

print(convert_distance(12)) # Should be: 12 miles equals 19.2 km
print(convert_distance(5.5)) # Should be: 5.5 miles equals 8.8 km
print(convert_distance(11)) # Should be: 11 miles equals 17.6 km

12 miles equals 19.2 km
5.5 miles equals 8.8 km
11 miles equals 17.6 km

If we have a string variable named Weather = "Rainfall", which of the following will print the substring or all characters before the "f"?


**print(Weather[:4])**


print(Weather[4:])


print(Weather[1:4])


print(Weather[:"f"])

In [164]:
Weather = "Rainfall"
print(Weather[:4]) # Answer
print(Weather[4:])
print(Weather[1:4])

# print(Weather[:"f"])
#TypeError: slice indices must be integers or None or have an __index__ method

Rain
fall
ain


Fill in the gaps in the nametag function so that it uses the format method to return first_name and the first initial of last_name followed by a period. For example, nametag("Jane", "Smith") should return "Jane S."
```python:
def nametag(first_name, last_name):
	return("___.".format(___))

print(nametag("Jane", "Smith")) 
# Should display "Jane S." 
print(nametag("Francesco", "Rinaldi")) 
# Should display "Francesco R." 
print(nametag("Jean-Luc", "Grand-Pierre")) 
# Should display "Jean-Luc G." 
```

In [165]:
def nametag(first_name, last_name):
	return("{} {}.".format(first_name, last_name[0]))

print(nametag("Jane", "Smith")) 
# Should display "Jane S." 
print(nametag("Francesco", "Rinaldi")) 
# Should display "Francesco R." 
print(nametag("Jean-Luc", "Grand-Pierre")) 
# Should display "Jean-Luc G."

Jane S.
Francesco R.
Jean-Luc G.

The replace_ending function replaces the old string in a sentence with the new string, but only if the sentence ends with the old string. If there is more than one occurrence of the old string in the sentence, only the one at the end is replaced, not all of them. For example, replace_ending("abcabc", "abc", "xyz") should return abcxyz, not xyzxyz or xyzabc. The string comparison is case-sensitive, so replace_ending("abcabc", "ABC", "xyz") should return abcabc (no changes made). 
```python:
def replace_ending(sentence, old, new):
	# Check if the old string is at the end of the sentence 
	if ___:
		# Using i as the slicing index, combine the part
		# of the sentence up to the matched string at the 
		# end with the new string
		i = ___
		new_sentence = ___
		return new_sentence

	# Return the original sentence if there is no match 
	return sentence
	
print(replace_ending("It's raining cats and cats", "cats", "dogs")) 
# Should display "It's raining cats and dogs"
print(replace_ending("She sells seashells by the seashore", "seashells", "donuts")) 
# Should display "She sells seashells by the seashore"
print(replace_ending("The weather is nice in May", "may", "april")) 
# Should display "The weather is nice in May"
print(replace_ending("The weather is nice in May", "May", "April")) 
# Should display "The weather is nice in April"
```

In [166]:
def replace_ending(sentence, old, new):
	# Check if the old string is at the end of the sentence 
	if sentence.endswith(old):
		# Using i as the slicing index, combine the part
		# of the sentence up to the matched string at the 
		# end with the new string
		i = len(old)
		new_sentence = sentence[:-i] + new
		return new_sentence

	# Return the original sentence if there is no match 
	return sentence
	
print(replace_ending("It's raining cats and cats", "cats", "dogs")) 
# Should display "It's raining cats and dogs"
print(replace_ending("She sells seashells by the seashore", "seashells", "donuts")) 
# Should display "She sells seashells by the seashore"
print(replace_ending("The weather is nice in May", "may", "april")) 
# Should display "The weather is nice in May"
print(replace_ending("The weather is nice in May", "May", "April")) 
# Should display "The weather is nice in April"

It's raining cats and dogs
She sells seashells by the seashore
The weather is nice in May
The weather is nice in April

## List                                   
collections of items like a list of strings.<br>
square bracket

In [61]:
x = ["now", "we", "are", "cooking!"]
print(type(x))
print(x)
print(len(x))

<class 'list'>
['now', 'we', 'are', 'cooking!']
4

In [63]:
"Today" in x

False

In [64]:
"are" in x

True

In [65]:
print((x[1]))
print((x[3]))

we
cooking!

In [66]:
print((x[4]))   
# index outta range

IndexError: list index out of range

In [172]:
x[1:3]

['we', 'are']

In [173]:
x[:2]

['now', 'we']

In [174]:
x[2:]

['are', 'cooking!']

Using the "split" string method from the preceding lesson, complete the get_word function to return the {n}th word from a passed sentence. For example, get_word("This is a lesson about lists", 4) should return "lesson", which is the 4th word in this sentence. Hint: remember that list indexes start at 0, not 1
```python:
def get_word(sentence, n):
	# Only proceed if n is positive 
	if n > 0:
		words = ___
		# Only proceed if n is not more than the number of words 
		if n <= len(words):
			return(___)
	return("")

print(get_word("This is a lesson about lists", 4)) # Should print: lesson
print(get_word("This is a lesson about lists", -4)) # Nothing
print(get_word("Now we are cooking!", 1)) # Should print: Now
print(get_word("Now we are cooking!", 5)) # Nothing


```

In [175]:
def get_word(sentence, n):
	# Only proceed if n is positive 
	if n > 0:
		words = sentence.split()
		# Only proceed if n is not more than the number of words 
		if n <= len(words):
			return(words[n-1])
	return("")

print(get_word("This is a lesson about lists", 4)) # Should print: lesson
print(get_word("This is a lesson about lists", -4)) # Nothing
print(get_word("Now we are cooking!", 1)) # Should print: Now
print(get_word("Now we are cooking!", 5)) # Nothing

lesson

Now

similarity with strings
* for element in sequence
* sequence[x]
* len(sequence)
* sequence + sequence
* element in sequence

* **list are mutable** this means we can add, remove, or modify elements in a list.
*

**Methods**
append: add value in the last of the list

In [67]:
fruits = ["Pineapple", "Banana", "Apple", "Melon"]
fruits.append("Kiwi")
print(fruits)

['Pineapple', 'Banana', 'Apple', 'Melon', 'Kiwi']

Insert: insert at a given location
```python:
list_name.insert(index_no, new_value)
```
if index is higher than the length of the list value is appended at the end

In [68]:
print(fruits)
fruits.insert(0, "Orange")
print(fruits)
fruits.insert(25, "Mango")
print(fruits)

['Pineapple', 'Banana', 'Apple', 'Melon', 'Kiwi']
['Orange', 'Pineapple', 'Banana', 'Apple', 'Melon', 'Kiwi']
['Orange', 'Pineapple', 'Banana', 'Apple', 'Melon', 'Kiwi', 'Mango']

REmove:
```python:
    list_name.remove("value_name)
```
if value is not present then it will give us ValueError

In [69]:
print(fruits)
fruits.remove("Kiwi")
print(fruits)
fruits.remove("Pear")

['Orange', 'Pineapple', 'Banana', 'Apple', 'Melon', 'Kiwi', 'Mango']
['Orange', 'Pineapple', 'Banana', 'Apple', 'Melon', 'Mango']

ValueError: list.remove(x): x not in list

pop method returns the element that is removed

In [70]:
fruits.pop(3)

'Apple'

In [82]:
print(fruits)
fruits[2] = "strawberry"
print(fruits)

['Orange', 'Pineapple', 'strawberry', 'Melon', 'Mango']
['Orange', 'Pineapple', 'strawberry', 'Melon', 'Mango']

append other_list on list
```python:
list.extend(other_list)
```

In [83]:
essentials = ['water', 'air', 'food']
now = ['home', 'Internet']
essentials.extend(now)
essentials

['water', 'air', 'food', 'home', 'Internet']

In [88]:
essentials.sort()
essentials

['Internet', 'air', 'food', 'home', 'water']

In [91]:
essentials.reverse()
essentials

['water', 'home', 'food', 'air', 'Internet']

In [92]:
essentials.clear()
essentials

[]

The skip_elements function returns a list containing every other element from an input list, starting with the first element. Complete this function to do that, using the for loop to iterate through the input list.
```python:
def skip_elements(elements):
	# Initialize variables
	new_list = []
	i = 0

	# Iterate through the list
	for ___
		# Does this element belong in the resulting list?
		if ___
			# Add this element to the resulting list
			___
		# Increment i
		___

	return ___

print(skip_elements(["a", "b", "c", "d", "e", "f", "g"])) # Should be ['a', 'c', 'e', 'g']
print(skip_elements(['Orange', 'Pineapple', 'Strawberry', 'Kiwi', 'Peach'])) # Should be ['Orange', 'Strawberry', 'Peach']
print(skip_elements([])) # Should be []



```

In [181]:
def skip_elements(elements):
	# Initialize variables
	new_list = []
	i = 0

	# Iterate through the list
	for i in range(len(elements)):
		# Does this element belong in the resulting list?
		if i%2 == 0:
			# Add this element to the resulting list
			new_list.append(elements[i])
		# Increment i
		i += 2

	return new_list

print(skip_elements(["a", "b", "c", "d", "e", "f", "g"])) # Should be ['a', 'c', 'e', 'g']
print(skip_elements(['Orange', 'Pineapple', 'Strawberry', 'Kiwi', 'Peach'])) # Should be ['Orange', 'Strawberry', 'Peach']
print(skip_elements([])) # Should be []

['a', 'c', 'e', 'g']
['Orange', 'Strawberry', 'Peach']
[]

**Strings** are sequences of characters and are immutable. <br>
**Lists** are sequences of elements of any type and are mutable <br>
**Tuples** 
* sequences of elements of any type that are immutable. 
* We write tuples in parentheses instead of square brackets.
* position of elements inside the tuple have meaning
* when fn returns more than one value, it is in form of tuples e.g. : convert seconds into hour, minute and seconds

In [78]:
fullname = ("Grace", "M", "Hopper")
print(fullname)

('Grace', 'M', 'Hopper')

In [77]:
z = ("now", "we", "are", "cooking!")
type(z)

tuple

In [183]:
def convert_seconds(seconds): 
    hours = seconds//3600
    minutes = (seconds - hours * 3600)//60
    seconds = seconds - hours * 3600 - minutes * 60
    return hours, minutes, seconds
result = convert_seconds(5000)
type(result)

tuple

In [184]:
print(result)

(1, 23, 20)

In [185]:
hours, minutes, seconds = result
print(hours, minutes, seconds)

1 23 20

In [186]:
hours, minutes, seconds = convert_seconds(1000)
print(hours, minutes, seconds)

0 16 40

Let's use tuples to store information about a file: its name, its type and its size in bytes. Fill in the gaps in this code to return the size in kilobytes (a kilobyte is 1024 bytes) up to 2 decimal places.
```python:
def file_size(file_info):
	___, ___, ___= file_info
	return("{:.2f}".format(___ / 1024))

print(file_size(('Class Assignment', 'docx', 17875))) # Should print 17.46
print(file_size(('Notes', 'txt', 496))) # Should print 0.48
print(file_size(('Program', 'py', 1239))) # Should print 1.21

```

In [187]:
def file_size(file_info):
	name, type, size = file_info
	return("{:.2f}".format(size / 1024))

print(file_size(('Class Assignment', 'docx', 17875))) # Should print 17.46
print(file_size(('Notes', 'txt', 496))) # Should print 0.48
print(file_size(('Program', 'py', 1239))) # Should print 1.21

17.46
0.48
1.21

Iterating over Lists and Tuples

In [93]:
animals = ("Lion", "Zebra", "Dolphin", "monkey")
chars = 0
for animal in animals:
    chars += len(animal)
    
print("Total characters: {}, Average length: {}".format(chars, chars/len(animals)))

Total characters: 22, Average length: 5.5

What if you wanted to know the index of an element while going through the list? You could use the range function and then use indexing to access the elements at the index that range returned.

In [189]:
winners = ["Ashley", "Dylan", "Reese"]
for person in winners:
    print("{} - {}".format(winners.index(person)+1, person))

1 - Ashley
2 - Dylan
3 - Reese

or we could use enumerate function:
The enumerate function returns a tuple for each element in the list. The first value in the tuple is the index of the element in the sequence. The second value in the tuple is the element in the sequence.

In [94]:
winners = ["Ashley", "Dylan", "Reese"]
for index, person in enumerate(winners):
    print("{} - {}".format(index+1, person))

1 - Ashley
2 - Dylan
3 - Reese

In [97]:
essentials = ('air', 'water', 'food', 'home', 'Internet')
for index, item in enumerate(essentials):
    print(f'{index+1} - {item}')

1 - air
2 - water
3 - food
4 - home
5 - Internet

Try out the enumerate function for yourself in this quick exercise. Complete the skip_elements function to return every other element from the list, this time using the enumerate function to check if an element is on an even position or an odd position.
```python:
def skip_elements(elements):
	# code goes here
	
	return ___

print(skip_elements(["a", "b", "c", "d", "e", "f", "g"])) # Should be ['a', 'c', 'e', 'g']
print(skip_elements(['Orange', 'Pineapple', 'Strawberry', 'Kiwi', 'Peach'])) # Should be ['Orange', 'Strawberry', 'Peach']
```

In [191]:
def skip_elements(elements):
    # code goes here
    even_elements =[]
    for index, element in enumerate(elements):
        if(index % 2 == 0):
            even_elements.append (element)
    return even_elements

print(skip_elements(["a", "b", "c", "d", "e", "f", "g"])) # Should be ['a', 'c', 'e', 'g']
print(skip_elements(['Orange', 'Pineapple', 'Strawberry', 'Kiwi', 'Peach'])) # Should be ['Orange', 'Strawberry', 'Peach']

['a', 'c', 'e', 'g']
['Orange', 'Strawberry', 'Peach']

In [192]:
def skip_elements(elements):
    list=[]
    for index,element in enumerate(elements):
        if index%2==0:
            list.append('{}'.format(element))
    return list

print(skip_elements(["a", "b", "c", "d", "e", "f", "g"]))

print(skip_elements(['Orange', 'Pineapple', 'Strawberry', 'Kiwi', 'Peach']))

['a', 'c', 'e', 'g']
['Orange', 'Strawberry', 'Peach']

In [193]:
def skip_elements(elements):
# code goes here
    elements = [v for i, v in enumerate(elements) if i % 2 == 0]

    return elements

print(skip_elements(["a", "b", "c", "d", "e", "f", "g"]))
print(skip_elements(['Orange', 'Pineapple', 'Strawberry', 'Kiwi', 'Peach']))

['a', 'c', 'e', 'g']
['Orange', 'Strawberry', 'Peach']

In [98]:
#tuple inside list
def full_email(people):
    result = []
    for  name, email in people:
        result.append("{} <{}>".format(name, email))
    return result
print(full_email([("John Snow", "johnsnow@bastard.com"), ("Ned Stark", "nedstark@winteriscoming.com")]))

['John Snow <johnsnow@bastard.com>', 'Ned Stark <nedstark@winteriscoming.com>']

**List Comprehensions**
List comprehensions let us create new lists based on sequences or ranges. 
e.g.

In [195]:
multiples = []
for i in range(1,11):
    multiples.append(i*7)
print(multiples)

[7, 14, 21, 28, 35, 42, 49, 56, 63, 70]

In [99]:
multiples = [i * 7 for i in range(1,11)]
print(multiples)

[7, 14, 21, 28, 35, 42, 49, 56, 63, 70]

In [197]:
languages = ["Python", "Perl", "PHP", "Go", "Java", "C"]
lengths  = [len(language) for language in languages]
print(lengths)

[6, 4, 3, 2, 4, 1]

In [198]:
z = [x for  x in range(1, 101) if x%3 == 0]
print(z)

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99]

In [107]:
z = [x for  x in range(0, 51,3)]
print(z)
print()
for zz in [x for x in range(0,101) if x%9 == 0]:
    print(zz)

[0, 3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48]

0
9
18
27
36
45
54
63
72
81
90
99

The odd_numbers function returns a list of odd numbers between 1 and n, inclusively. Fill in the blanks in the function, using list comprehension. Hint: remember that list and range counters start at 0 and end at the limit minus 1.
```python:
def odd_numbers(n):
	return [x for x in ___ if ___]

print(odd_numbers(5))  # Should print [1, 3, 5]
print(odd_numbers(10)) # Should print [1, 3, 5, 7, 9]
print(odd_numbers(11)) # Should print [1, 3, 5, 7, 9, 11]
print(odd_numbers(1))  # Should print [1]
print(odd_numbers(-1)) # Should print []
```

In [200]:
def odd_numbers(n):
	return [x for x in range(n+1) if x%2 != 0 ]

print(odd_numbers(5))  # Should print [1, 3, 5]
print(odd_numbers(10)) # Should print [1, 3, 5, 7, 9]
print(odd_numbers(11)) # Should print [1, 3, 5, 7, 9, 11]
print(odd_numbers(1))  # Should print [1]
print(odd_numbers(-1)) # Should print []

[1, 3, 5]
[1, 3, 5, 7, 9]
[1, 3, 5, 7, 9, 11]
[1]
[]

### Practice Quiz: Lists

Given a list of filenames, we want to rename all the files with extension hpp to the extension h. To do this, we would like to generate a new list called newfilenames, consisting of the new filenames. Fill in the blanks in the code using any of the methods youve learned thus far, like a for loop or a list comprehension.
```python:
filenames = ["program.c", "stdio.hpp", "sample.hpp", "a.out", "math.hpp", "hpp.out"]
# Generate newfilenames as a list containing the new filenames
# using as many lines of code as your chosen method requires.
___  

print(newfilenames) 
# Should be ["program.c", "stdio.h", "sample.h", "a.out", "math.h", "hpp.out"]
```

In [201]:
filenames = ["program.c", "stdio.hpp", "sample.hpp", "a.out", "math.hpp", "hpp.out"]
# Generate newfilenames as a list containing the new filenames
# using as many lines of code as your chosen method requires.
newfilenames = [word.replace("hpp","h") if word.endswith("hpp") else word for word in filenames ]

print(newfilenames) 
# Should be ["program.c", "stdio.h", "sample.h", "a.out", "math.h", "hpp.out"]

['program.c', 'stdio.h', 'sample.h', 'a.out', 'math.h', 'hpp.out']

In [202]:
filenames = ["program.c", "stdio.hpp", "sample.hpp", "a.out", "math.hpp", "hpp.out"]
# Generate newfilenames as a list containing the new filenames
# using as many lines of code as your chosen method requires.
newfilenames = [e.replace('.hpp','.h') for e in filenames]
 

print(newfilenames) 
# Should be ["program.c", "stdio.h", "sample.h", "a.out", "math.h", "hpp.out"]

['program.c', 'stdio.h', 'sample.h', 'a.out', 'math.h', 'hpp.out']

Question 2
Let's create a function that turns text into pig latin: a simple text transformation that modifies each word moving the first character to the end and appending "ay" to the end. For example, python ends up as ythonpay.
```python:
def pig_latin(text):
  say = ""
  # Separate the text into words
  words = ___
  for word in words:
    # Create the pig latin word and add it to the list
    ___
    # Turn the list back into a phrase
  return ___
		
print(pig_latin("hello how are you")) # Should be "ellohay owhay reaay ouyay"
print(pig_latin("programming in python is fun")) # Should be "rogrammingpay niay ythonpay siay unfay"
```

In [110]:
def pig_latin(text):
  say = []
  # Separate the text into words
  words = text.split()
  for word in words:
    # Create the pig latin word and add it to the list
    word = word[1:] + word[0] + "ay"
    say.append(word)
    # Turn the list back into a phrase
  return ' '.join(say)
		
print(pig_latin("hello how are you")) # Should be "ellohay owhay reaay ouyay"
print(pig_latin("programming in python is fun")) # Should be "rogrammingpay niay ythonpay siay unfay"

ellohay owhay reaay ouyay
rogrammingpay niay ythonpay siay unfay

In [204]:
def pig_latin(text):
    words = [
        word[1:] + word[0] + "ay"
        for word in text.split()
    ]
    return " ".join(words)


print(pig_latin("hello how are you"))  # Should be "ellohay owhay reaay ouyay"
print(pig_latin("programming in python is fun"))  # Should be "rogrammingpay n

ellohay owhay reaay ouyay
rogrammingpay niay ythonpay siay unfay

In [111]:
def pig_latin(text):
    return " ".join([word[1:] + word[0] + "ay" for word in text.split()])


print(pig_latin("hello how are you"))  # Should be "ellohay owhay reaay ouyay"
print(pig_latin("programming in python is fun"))  # Should be "rogramm

ellohay owhay reaay ouyay
rogrammingpay niay ythonpay siay unfay

In [113]:
lan = "This is a very good time to live since everything is available over internet"
lan1 = lan.split()
print(type(lan1))
print(lan1)
lan2 = " ".join(lan1)
print(type(lan2))
print(lan2)

<class 'list'>
['This', 'is', 'a', 'very', 'good', 'time', 'to', 'live', 'since', 'everything', 'is', 'available', 'over', 'internet']
<class 'str'>
This is a very good time to live since everything is available over internet

The permissions of a file in a Linux system are split into three sets of three permissions: read, write, and execute for the owner, group, and others. Each of the three values can be expressed as an octal number summing each permission, with 4 corresponding to read, 2 to write, and 1 to execute. Or it can be written with a string using the letters r, w, and x or - when the permission is not granted.
For example: 
640 is read/write for the owner, read for the group, and no permissions for the others; converted to a string, it would be: "rw-r-----"
755 is read/write/execute for the owner, and read/execute for group and others; converted to a string, it would be: "rwxr-xr-x"
Fill in the blanks to make the code convert a permission in octal format into a string format.

```python:
def octal_to_string(octal):
    result = ""
    value_letters = [(4,"r"),(2,"w"),(1,"x")]
    # Iterate over each of the digits in octal
    for ___ in [int(n) for n in str(octal)]:
        # Check for each of the permissions values
        for value, letter in value_letters:
            if ___ >= value:
                result += ___
                ___ -= value
            else:
                ___
    return result
    
print(octal_to_string(755)) # Should be rwxr-xr-x
print(octal_to_string(644)) # Should be rw-r--r--
print(octal_to_string(750)) # Should be rwxr-x---
print(octal_to_string(600)) # Should be rw-------
```

In [206]:
def octal_to_string(octal):
    result = ""
    value_letters = [(4,"r"),(2,"w"),(1,"x")]
    # Iterate over each of the digits in octal
    for i in [int(n) for n in str(octal)]:
        # Check for each of the permissions values
        for value, letter in value_letters:
            if i >= value:
                result += letter
                i -= value
            else:
                result += '-'
    return result
    
print(octal_to_string(755)) # Should be rwxr-xr-x
print(octal_to_string(644)) # Should be rw-r--r--
print(octal_to_string(750)) # Should be rwxr-x---
print(octal_to_string(600)) # Should be rw-------

rwxr-xr-x
rw-r--r--
rwxr-x---
rw-------

In [207]:
print("A" != "T")

True

Tuples and lists are very similar types of sequences. What is the main thing that makes a tuple different from a list?


A tuple is mutable


A tuple contains only numeric characters


**A tuple is immutable**


A tuple can contain only one type of data at a time

The group_list function accepts a group name and a list of members, and returns a string with the format: group_name: member1, member2,  For example, group_list("g", ["a","b","c"]) returns "g: a, b, c". Fill in the gaps in this function to do that.
```python:
def group_list(group, users):
  members = ___
  return ___

print(group_list("Marketing", ["Mike", "Karen", "Jake", "Tasha"])) # Should be "Marketing: Mike, Karen, Jake, Tasha"
print(group_list("Engineering", ["Kim", "Jay", "Tom"])) # Should be "Engineering: Kim, Jay, Tom"
print(group_list("Users", "")) # Should be "Users:"
```

In [208]:
def group_list(group, users):
  members = ', '.join(users)
#   return "{}: {}".format(group, members)
  return f'{group}: {members}'

print(group_list("Marketing", ["Mike", "Karen", "Jake", "Tasha"])) # Should be "Marketing: Mike, Karen, Jake, Tasha"
print(group_list("Engineering", ["Kim", "Jay", "Tom"])) # Should be "Engineering: Kim, Jay, Tom"
print(group_list("Users", "")) # Should be "Users:"

Marketing: Mike, Karen, Jake, Tasha
Engineering: Kim, Jay, Tom
Users:

Question 6
The guest_list function reads in a list of tuples with the name, age, and profession of each party guest, and prints the sentence "Guest is X years old and works as __ ." for each one. For example, guest_list(('Ken', 30, "Chef"), ("Pat", 35, 'Lawyer'), ('Amanda', 25, "Engineer")) should print out: Ken is 30 years old and works as Chef. Pat is 35 years old and works as Lawyer. Amanda is 25 years old and works as Engineer. Fill in the gaps in this function to do that. 
```python:
def guest_list(guests):
	for ___:
		___
		print(___.format(___))

guest_list([('Ken', 30, "Chef"), ("Pat", 35, 'Lawyer'), ('Amanda', 25, "Engineer")])

#Click Run to submit code
"""
Output should match:
Ken is 30 years old and works as Chef
Pat is 35 years old and works as Lawyer
Amanda is 25 years old and works as Engineer
"""
```

In [209]:
def guest_list(guests):

    for guest in guests:
        name, age, job = guest
        print("{} is {} years old and works as {}".format(name, age, job))

guest_list([('Ken', 30, "Chef"), ("Pat", 35, 'Lawyer'), ('Amanda', 25, "Engineer")])

Ken is 30 years old and works as Chef
Pat is 35 years old and works as Lawyer
Amanda is 25 years old and works as Engineer

In [210]:
def guest_list(guests):
	count = 0
	if count < 3:
		for guest in guests:
			name, age, job = guest
			print("{} is {} years old and works as {}".format(name, age, job))
			count += 1

guest_list([('Ken', 30, "Chef"), ("Pat", 35, 'Lawyer'), ('Amanda', 25, "Engineer")])

Ken is 30 years old and works as Chef
Pat is 35 years old and works as Lawyer
Amanda is 25 years old and works as Engineer

## Dictionary
. Like lists, dictionaries are used to organize elements into collections.
Unlike lists, you don't access elements inside dictionaries using their position. 
Instead, the data inside dictionaries take the form of pairs of keys and values. To get a dictionary value we use its corresponding key. Another way these two vary is while in a list the index must be a number, in a dictionary you can use a bunch of different data types as keys, like strings, integers, floats, tuples, and more. 
* dict are mutable

In [211]:
x = {}
print(type(x))

<class 'dict'>

In [1]:
file_counts =  {"jpg": 10, "txt": 14, "csv":2, "py": 23}
print(file_counts)

{'jpg': 10, 'txt': 14, 'csv': 2, 'py': 23}

In [2]:
"jpg" in file_counts

True

In [3]:
"html" in file_counts

False

In [5]:
#add a entry 
file_counts["cfg"] = 8
print(file_counts)
file_counts["md"] = 11
print(file_counts)

{'jpg': 10, 'txt': 14, 'csv': 2, 'py': 23, 'cfg': 8}
{'jpg': 10, 'txt': 14, 'csv': 2, 'py': 23, 'cfg': 8, 'md': 11}

In [6]:
file_counts["csv"] = 17
print(file_counts)

{'jpg': 10, 'txt': 14, 'csv': 17, 'py': 23, 'cfg': 8, 'md': 11}

In [7]:
#delete an element by del keyword
del file_counts["cfg"]
print(file_counts)

{'jpg': 10, 'txt': 14, 'csv': 17, 'py': 23, 'md': 11}

The "toc" dictionary represents the table of contents for a book. Fill in the blanks to do the following: 	
1) Add an entry for Epilogue on page 39. 	
2) Change the page number for Chapter 3 to 24. 	
3) Display the new dictionary contents. 	
4) Display True if there is Chapter 
5, False if there isn't.

```python:
toc = {"Introduction":1, "Chapter 1":4, "Chapter 2":11, "Chapter 3":25, "Chapter 4":30}
___ # Epilogue starts on page 39
___ # Chapter 3 now starts on page 24
___ # What are the current contents of the dictionary?
___ # Is there a Chapter 5?
```

In [218]:
toc = {"Introduction":1, "Chapter 1":4, "Chapter 2":11, "Chapter 3":25, "Chapter 4":30}
# Epilogue starts on page 39
toc["Epilogue"] = 39
# Chapter 3 now starts on page 24
toc["Chapter 3"] = 24
# What are the current contents of the dictionary?
print(toc)
# Is there a Chapter 5?
print("Chapter 5" in toc)

{'Introduction': 1, 'Chapter 1': 4, 'Chapter 2': 11, 'Chapter 3': 24, 'Chapter 4': 30, 'Epilogue': 39}
False

### Iterating over the Contents of a Dictionary

In [219]:
file_counts =  {"jpg": 10, "txt": 14, "csv":2, "py": 23}
for extension in file_counts:
    print(extension)

jpg
txt
csv
py

item: return tuples

In [220]:
for ext, amount in file_counts.items():
    print("There are {} files with the .{} extension".format(amount, ext))

There are 10 files with the .jpg extension
There are 14 files with the .txt extension
There are 2 files with the .csv extension
There are 23 files with the .py extension

In [9]:
file_counts.keys()

dict_keys(['jpg', 'txt', 'csv', 'py', 'md'])

In [222]:
file_counts.values()

dict_values([10, 14, 2, 23])

counting how many times each letter appears in a piece of text.

In [223]:
def count_letters(text):
    result = {}
    for letter in text:
        if letter not in result:
            result[letter] = 0
        result[letter] += 1
    return result

count_letters("aaaaabbbcc")

{'a': 5, 'b': 3, 'c': 2}

In [224]:
count_letters("tenet")

{'t': 2, 'e': 2, 'n': 1}

In [225]:
count_letters("a long string with a lot of letters")

{'a': 2,
 ' ': 7,
 'l': 3,
 'o': 3,
 'n': 2,
 'g': 2,
 's': 2,
 't': 5,
 'r': 2,
 'i': 2,
 'w': 1,
 'h': 1,
 'f': 1,
 'e': 2}

### Dictionaries vs. Lists
* list are used for storing list information, like series of IP addresses
* dictionary: ist of host names and their corresponding IP addresses, you might want to pair them as key values in a dictionary
```python:
ip_addresses = ["192.168.1.1", "127.0.0.1", "8.8.8.8"]
host_addresses = {"router": "192.168.1.1", "localhost": "127.0.0.1", "google": "8.8.8.8"}
```
* super easy and fast to search element in dictionary than list. It doesn't matter if you have 10 users or 10,000 users, accessing the entry for a given user will take the same time. but can't say for the list
* use dictinaies when you plan on searching for a specific element.
* list can store any datatype, but dict. stores any datatype for value but the keys are resticted to spcific types. you can use any immutable data type; numbers, booleans, strings and tuples as dictionary keys. But you can't use lists or dictionaries for that.
* dict.: directory

In Python, a dictionary can only hold a single value for a given key. To workaround this, our single value can be a list containing multiple values. Here we have a dictionary called "wardrobe" with items of clothing and their colors. Fill in the blanks to print a line for each item of clothing with each color, for example: "red shirt", "blue shirt", and so on.
```python:
wardrobe = {"shirt":["red","blue","white"], "jeans":["blue","black"]}
for __:
	for __:
		print("{} {}".format(__))
```

In [226]:
wardrobe = {"shirt":["red","blue","white"], "jeans":["blue","black"]}
for cloth, colors in wardrobe.items():
	for color in colors:
		print("{} {}".format(color, cloth))

red shirt
blue shirt
white shirt
blue jeans
black jeans

#### set:
* set is like cross b/w list and dictionary
* used when you want to store bunch of elements assuring no redundancies(mean each element present only once)
* elements are immutable
* You can think of this as the keys of a dictionary with no associated values or you could see it as a list where what matters isn't the order of the elements but whether an element is in the list or not.

#### Practice Quiz: Dictionaries

Question 1
The email_list function receives a dictionary, which contains domain names as keys, and a list of users as values. Fill in the blanks to generate a list that contains complete email addresses (e.g. diana.prince@gmail.com)
```python:
def email_list(domains):
	emails = []
	for ___:
	  for user in users:
	    emails.___
	return(emails)

print(email_list({"gmail.com": ["clark.kent", "diana.prince", "peter.parker"], "yahoo.com": ["barbara.gordon", "jean.grey"], "hotmail.com": ["bruce.wayne"]}))
```

In [227]:
def email_list(domains):
	emails = []
	for domain, users in domains.items():
	  for user in users:
	    emails.append(user+'@'+domain)
	return(emails)

print(email_list({"gmail.com": ["clark.kent", "diana.prince", "peter.parker"], "yahoo.com": ["barbara.gordon", "jean.grey"], "hotmail.com": ["bruce.wayne"]}))

['clark.kent@gmail.com', 'diana.prince@gmail.com', 'peter.parker@gmail.com', 'barbara.gordon@yahoo.com', 'jean.grey@yahoo.com', 'bruce.wayne@hotmail.com']

Question 2
The groups_per_user function receives a dictionary, which contains group names with the list of users. Users can belong to multiple groups. Fill in the blanks to return a dictionary with the users as keys and a list of their groups as values.
```python:
def groups_per_user(group_dictionary):
	user_groups = {}
	# Go through group_dictionary
	for ___:
		# Now go through the users in the group
		for ___:
			# Now add the group to the the list of
# groups for this user, creating the entry
# in the dictionary if necessary

	return(user_groups)

print(groups_per_user({"local": ["admin", "userA"],
		"public":  ["admin", "userB"],
		"administrator": ["admin"] }))
```

In [228]:
def groups_per_user(group_dictionary):
    user_groups = {}
    for group, users in group_dictionary.items():
        for user in users:
            if user not in user_groups:
                user_groups[user] = []
            user_groups[user].append(group)
    return user_groups

print(groups_per_user({"local": ["admin", "userA"],
		"public":  ["admin", "userB"],
		"administrator": ["admin"] }))

{'admin': ['local', 'public', 'administrator'], 'userA': ['local'], 'userB': ['public']}

In [229]:
def groups_per_user(group_dictionary):
    user_groups = {}
    for group, users in group_dictionary.items():
        for user in users:
            user_groups.setdefault(user, []).append(group)
    return user_groups

print(groups_per_user({"local": ["admin", "userA"],
		"public":  ["admin", "userB"],
		"administrator": ["admin"] }))

{'admin': ['local', 'public', 'administrator'], 'userA': ['local'], 'userB': ['public']}

In [230]:
from collections import defaultdict

def groups_per_user(group_dictionary):
    user_groups = defaultdict(list)
    for group, users in group_dictionary.items():
        for user in users:
            user_groups[user].append(group)
    return user_groups

print(groups_per_user({"local": ["admin", "userA"],
		"public":  ["admin", "userB"],
		"administrator": ["admin"] }))

defaultdict(<class 'list'>, {'admin': ['local', 'public', 'administrator'], 'userA': ['local'], 'userB': ['public']})

Question 3
The dict.update method updates one dictionary with the items coming from the other dictionary, so that existing entries are replaced and new entries are added. What is the content of the dictionary wardrobe at the end of the following code?
```python:
wardrobe = {'shirt': ['red', 'blue', 'white'], 'jeans': ['blue', 'black']}
new_items = {'jeans': ['white'], 'scarf': ['yellow'], 'socks': ['black', 'brown']}
wardrobe.update(new_items)
```


{'jeans': ['white'], 'scarf': ['yellow'], 'socks': ['black', 'brown']}


**{'shirt': ['red', 'blue', 'white'], 'jeans': ['white'], 'scarf': ['yellow'], 'socks': ['black', 'brown']}**


{'shirt': ['red', 'blue', 'white'], 'jeans': ['blue', 'black', 'white'], 'scarf': ['yellow'], 'socks': ['black', 'brown']}


{'shirt': ['red', 'blue', 'white'], 'jeans': ['blue', 'black'], 'jeans': ['white'], 'scarf': ['yellow'], 'socks': ['black', 'brown']}

In [231]:
wardrobe = {'shirt': ['red', 'blue', 'white'], 'jeans': ['blue', 'black']}
new_items = {'jeans': ['white'], 'scarf': ['yellow'], 'socks': ['black', 'brown']}
wardrobe.update(new_items)
print(wardrobe)

{'shirt': ['red', 'blue', 'white'], 'jeans': ['white'], 'scarf': ['yellow'], 'socks': ['black', 'brown']}

Whats a major advantage of using dictionaries over lists?


 Dictionaries are ordered sets


 Dictionaries can be accessed by the index number of the element


Elements can be removed and inserted into dictionaries


**Its quicker and easier to find a specific element in a dictionary**

The add_prices function returns the total price of all of the groceries in the  dictionary. Fill in the blanks to complete this function.
```python:
def add_prices(basket):
	# Initialize the variable that will be used for the calculation
	total = 0
	# Iterate through the dictionary items
	for ___:
		# Add each price to the total calculation
		# Hint: how do you access the values of
		# dictionary items?
		total += ___
	# Limit the return value to 2 decimal places
	return round(total, 2)  

groceries = {"bananas": 1.56, "apples": 2.50, "oranges": 0.99, "bread": 4.59, 
	"coffee": 6.99, "milk": 3.39, "eggs": 2.98, "cheese": 5.44}

print(add_prices(groceries)) # Should print 28.44
```

In [232]:
def add_prices(basket):
	# Initialize the variable that will be used for the calculation
	total = 0
	# Iterate through the dictionary items
	for fruit, price in basket.items():
		# Add each price to the total calculation
		# Hint: how do you access the values of
		# dictionary items?
		total += price
	# Limit the return value to 2 decimal places
	return round(total, 2)  

groceries = {"bananas": 1.56, "apples": 2.50, "oranges": 0.99, "bread": 4.59, 
	"coffee": 6.99, "milk": 3.39, "eggs": 2.98, "cheese": 5.44}

print(add_prices(groceries)) # Should print 28.44

28.44

The format_address function separates out parts of the address string into new strings: house_number and street_name, and returns: "house number X on street named Y". The format of the input string is: numeric house number, followed by the street name which may contain numbers, but never by themselves, and could be several words long. For example, "123 Main Street", "1001 1st Ave", or "55 North Center Drive". Fill in the gaps to complete this function.
```python:
def format_address(address_string):
  # Declare variables

  # Separate the address string into parts

  # Traverse through the address parts
  for __:
    # Determine if the address part is the
    # house number or part of the street name

  # Does anything else need to be done 
  # before returning the result?
  
  # Return the formatted string  
  return "house number {} on street named {}".format(__)

print(format_address("123 Main Street"))
# Should print: "house number 123 on street named Main Street"

print(format_address("1001 1st Ave"))
# Should print: "house number 1001 on street named 1st Ave"

print(format_address("55 North Center Drive"))
# Should print "house number 55 on street named North Center Drive"

```

In [233]:
def format_address(address_string):
  # Declare variables
  house_number = 0
  street_name = []
  # Separate the address string into parts
  address_split = address_string.split()
  # Traverse through the address parts
  for part in address_split:
    # Determine if the address part is the
    # house number or part of the street name
    if part.isnumeric():
      house_number = part
    else:
      street_name.append(part)
  # Does anything else need to be done 
  # before returning the result?
  
  # Return the formatted string  
  return "house number {} on street named {}".format(house_number, " ".join(street_name))

print(format_address("123 Main Street"))
# Should print: "house number 123 on street named Main Street"

print(format_address("1001 1st Ave"))
# Should print: "house number 1001 on street named 1st Ave"

print(format_address("55 North Center Drive"))
# Should print "house number 55 on street named North Center Drive"

house number 123 on street named Main Street
house number 1001 on street named 1st Ave
house number 55 on street named North Center Drive

Question 2
The highlight_word function changes the given word in a sentence to its upper-case version. For example, highlight_word("Have a nice day", "nice") returns "Have a NICE day". Can you write this function in just one line?
```python:
def highlight_word(sentence, word):
	return(___)

print(highlight_word("Have a nice day", "nice"))
print(highlight_word("Shhh, don't be so loud!", "loud"))
print(highlight_word("Automating with Python is fun", "fun"))

```

In [234]:
def highlight_word(sentence, word):
	return(sentence.replace(word, word.upper()))

print(highlight_word("Have a nice day", "nice"))
print(highlight_word("Shhh, don't be so loud!", "loud"))
print(highlight_word("Automating with Python is fun", "fun"))

Have a NICE day
Shhh, don't be so LOUD!
Automating with Python is FUN

A professor with two assistants, Jamie and Drew, wants an attendance list of the students, in the order that they arrived in the classroom. Drew was the first one to note which students arrived, and then Jamie took over. After the class, they each entered their lists into the computer and emailed them to the professor, who needs to combine them into one, in the order of each student's arrival. Jamie emailed a follow-up, saying that her list is in reverse order. Complete the steps to combine them into one list as follows: the contents of Drew's list, followed by Jamie's list in reverse order, to get an accurate list of the students as they arrived.
```python:
def combine_lists(list1, list2):
  # Generate a new list containing the elements of list2
  # Followed by the elements of list1 in reverse order
  
	
Jamies_list = ["Alice", "Cindy", "Bobby", "Jan", "Peter"]
Drews_list = ["Mike", "Carol", "Greg", "Marcia"]

print(combine_lists(Jamies_list, Drews_list))

```

In [235]:
def combine_lists(list1, list2):
  # Generate a new list containing the elements of list2
  # Followed by the elements of list1 in reverse order
  return list1 + list2[::-1]
	
Jamies_list = ["Alice", "Cindy", "Bobby", "Jan", "Peter"]
Drews_list = ["Mike", "Carol", "Greg", "Marcia"]

print(combine_lists(Jamies_list, Drews_list))

['Alice', 'Cindy', 'Bobby', 'Jan', 'Peter', 'Marcia', 'Greg', 'Carol', 'Mike']

Question 4
Use a list comprehension to create a list of squared numbers (n*n). The function receives the variables start and end, and returns a list of squares of consecutive numbers between start and end inclusively.
For example, squares(2, 3) should return [4, 9].
```python:
def squares(start, end):
	return [ ___ ]

print(squares(2, 3)) # Should be [4, 9]
print(squares(1, 5)) # Should be [1, 4, 9, 16, 25]
print(squares(0, 10)) # Should be [0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
```

In [236]:
def squares(start, end):
	return [ n**2  for n in range(start, end+1) ]

print(squares(2, 3)) # Should be [4, 9]
print(squares(1, 5)) # Should be [1, 4, 9, 16, 25]
print(squares(0, 10)) # Should be [0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

[4, 9]
[1, 4, 9, 16, 25]
[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

Complete the code to iterate through the keys and values of the car_prices dictionary, printing out some information about each one.
```python:
def car_listing(car_prices):
  result = ""
  for __:
    result += "{} costs {} dollars".__ + "\n"
  return result

print(car_listing({"Kia Soul":19000, "Lamborghini Diablo":55000, "Ford Fiesta":13000, "Toyota Prius":24000}))
```

In [237]:
def car_listing(car_prices):
  result = ""
  for car, price in car_prices.items():
    result += "{} costs {} dollars".format(car, price) + "\n"
  return result

print(car_listing({"Kia Soul":19000, "Lamborghini Diablo":55000, "Ford Fiesta":13000, "Toyota Prius":24000}))

Kia Soul costs 19000 dollars
Lamborghini Diablo costs 55000 dollars
Ford Fiesta costs 13000 dollars
Toyota Prius costs 24000 dollars

Question 6
Taylor and Rory are hosting a party. They sent out invitations, and each one collected responses into dictionaries, with names of their friends and how many guests each friend is bringing. Each dictionary is a partial list, but Rory's list has more current information about the number of guests. Fill in the blanks to combine both dictionaries into one, with each friend listed only once, and the number of guests from Rory's dictionary taking precedence, if a name is included in both dictionaries. Then print the resulting dictionary.

```python:
def combine_guests(guests1, guests2):
  # Combine both dictionaries into one, with each key listed 
  # only once, and the value from guests1 taking precedence

Rorys_guests = { "Adam":2, "Brenda":3, "David":1, "Jose":3, "Charlotte":2, "Terry":1, "Robert":4}
Taylors_guests = { "David":4, "Nancy":1, "Robert":2, "Adam":1, "Samantha":3, "Chris":5}

print(combine_guests(Rorys_guests, Taylors_guests))

```

In [238]:
def combine_guests(guests1, guests2):
  # Combine both dictionaries into one, with each key listed 
  guests2.update(guests1)
  return guests2
  # only once, and the value from guests1 taking precedence

Rorys_guests = { "Adam":2, "Brenda":3, "David":1, "Jose":3, "Charlotte":2, "Terry":1, "Robert":4}
Taylors_guests = { "David":4, "Nancy":1, "Robert":2, "Adam":1, "Samantha":3, "Chris":5}

print(combine_guests(Rorys_guests, Taylors_guests))

{'David': 1, 'Nancy': 1, 'Robert': 4, 'Adam': 2, 'Samantha': 3, 'Chris': 5, 'Brenda': 3, 'Jose': 3, 'Charlotte': 2, 'Terry': 1}

Use a dictionary to count the frequency of letters in the input string. Only letters should be counted, not blank spaces, numbers, or punctuation. Upper case should be considered the same as lower case. For example, count_letters("This is a sentence.") should return {'t': 2, 'h': 1, 'i': 2, 's': 3, 'a': 1, 'e': 3, 'n': 2, 'c': 1}.
```python:
def count_letters(text):
  result = {}
  # Go through each letter in the text
  for letter in ___:
    # Check if the letter needs to be counted or not
    ___
    # Add or increment the value in the dictionary
    ___
  return result

print(count_letters("AaBbCc"))
# Should be {'a': 2, 'b': 2, 'c': 2}

print(count_letters("Math is fun! 2+2=4"))
# Should be {'m': 1, 'a': 1, 't': 1, 'h': 1, 'i': 1, 's': 1, 'f': 1, 'u': 1, 'n': 1}

print(count_letters("This is a sentence."))
# Should be {'t': 2, 'h': 1, 'i': 2, 's': 3, 'a': 1, 'e': 3, 'n': 2, 'c': 1}
```

In [239]:
def count_letters(text):
  result = {}
  text= text.lower()
  # Go through each letter in the text
  for letter in text:
    # Check if the letter needs to be counted or not
    if letter.isalpha():
      count = text.count(letter)
      result[letter] = count
    # Add or increment the value in the dictionary
  return result

print(count_letters("AaBbCc"))
# Should be {'a': 2, 'b': 2, 'c': 2}

print(count_letters("Math is fun! 2+2=4"))
# Should be {'m': 1, 'a': 1, 't': 1, 'h': 1, 'i': 1, 's': 1, 'f': 1, 'u': 1, 'n': 1}

print(count_letters("This is a sentence."))
# Should be {'t': 2, 'h': 1, 'i': 2, 's': 3, 'a': 1, 'e': 3, 'n': 2, 'c': 1}

{'a': 2, 'b': 2, 'c': 2}
{'m': 1, 'a': 1, 't': 1, 'h': 1, 'i': 1, 's': 1, 'f': 1, 'u': 1, 'n': 1}
{'t': 2, 'h': 1, 'i': 2, 's': 3, 'a': 1, 'e': 3, 'n': 2, 'c': 1}

Question 8
What do the following commands return when animal = "Hippopotamus"?
```python:
animal = "Hippopotamus"
print(animal[3:6])
print(animal[-5])
print(animal[10:])
```


ppo, t, mus


ppop, o, s


pop, t, us


popo, t, mus

In [240]:
animal = "Hippopotamus"
print(animal[3:6])
print(animal[-5])
print(animal[10:])

pop
t
us

Question 9
What does the list "colors" contain after these commands are executed?
```python:
colors = ["red", "white", "blue"]
colors.insert(2, "yellow")
```


['red', 'white', 'yellow', 'blue']


['red', 'yellow', 'white', 'blue']


['red', 'yellow', 'blue']


['red', 'white', 'yellow']

In [241]:
colors = ["red", "white", "blue"]
colors.insert(2, "yellow")
print(colors)

['red', 'white', 'yellow', 'blue']

Question 10
What do the following commands return?
```python:
host_addresses = {"router": "192.168.1.1", "localhost": "127.0.0.1", "google": "8.8.8.8"}
host_addresses.keys()
```


{"router": "192.168.1.1", "localhost": "127.0.0.1", "google": "8.8.8.8"}


["router", "192.168.1.1", "localhost", "127.0.0.1", "google", "8.8.8.8"]


['192.168.1.1', '127.0.0.1', '8.8.8.8']


['router', 'localhost', 'google']

In [10]:
host_addresses = {"router": "192.168.1.1", "localhost": "127.0.0.1", "google": "8.8.8.8"}
host_addresses.keys()

dict_keys(['router', 'localhost', 'google'])

In [12]:
# print even-indexed and odd-indexed characters of a string first input is integer: no. of test casesabs

for i in range(int(input())): s = input(); print( *["".join(s[::2]),"".join(s[1::2])])

1
even indexed
ee nee vnidxd

# FizzBuzz

In [243]:
for i in range(1, 31):
    print("Fizz" * (i%3 < 1) + "Buzz" * (i%5 < 1)  or i)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
FizzBuzz

In [245]:
def FizzBuzz(number):
    c3 = 0
    c5 = 0
    # result = ""
    for i in range(1, number+1):
        c3 += 1
        c5 += 1
        result = ""
        if(c3 == 3):
            result += "Fizz"
            c3 = 0
        if(c5 == 5):
            result += "Buzz"
            c5 = 0
        # printing
        if(result == ""):
            print(i)
        else:
            print(result)

FizzBuzz(30)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
FizzBuzz

In [1]:
def fizzbuzz(number):
    c3 = 0
    c5 = 0
    for i in range(1, number+1):
        c3 += 1
        c5 += 1
        if(c3 == 3 and c5 == 5):
            print("FizzBuzz")
            c3 = 0
            c5 = 0

        elif(c3 == 3):
            print("Fizz")
            c3 = 0
        
        elif(c5 == 5):
            print("Buzz")
            c5 = 0
        
        else:
            print(i)

fizzbuzz(30)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
FizzBuzz

In [5]:
def FizzBuzzs(n):
    for i in range(1,n+1):
        print("Fizz" * (i%3 == 0) + "Buzz" * (i%5 == 0) or i)


FizzBuzzs(30)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
FizzBuzz